#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_WEBSERVER
	bool "Webserver example"
	depends on NETUTILS_WEBSERVER
	default n
	---help---
		Enable the TinyAra Webserver example

config USER_ENTRYPOINT
	string
	default "webserver_main" if ENTRY_WEBSERVER
