menu "I2C"
	config I2C
		bool "Enable I2C"
		default y

	config I2C_SUPPORT_ID_BITS
		int "i2c support id bits"
		range 1 255
		default 1
		help
		The value should be changed if need to change i2c id

	config FM_I2C
		bool "Enable FM I2C"
		default y

	config SIM_I2C
		bool "Enable GPIO Simulate I2C"
		default n

	config I2C_PM_CB_SUPPORT
		bool "i2c pm support"
		depends on I2C
		default n

	config SIM_I2C_HW_BOARD_V3
		bool "sim i2c with bk7258 hardware board v3"
		default y

	config I2C_DIRECT_DRIVE_MODE
		bool "Direct drive mode setting"
		default y
endmenu

