#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_WAVE_GEN
	bool "Wave file generation application"
	default n
	depends on AUDIO
	---help---



