if RAMMTD

menu "RAM MTD options"

config RAMMTD_BLOCKSIZE
        int "RAM MTD block size"
        default 512

config RAMMTD_ERASESIZE
        int "RAM MTD erase block size"
        default 4096

config RAMMTD_ERASESTATE
        hex "Simulated erase state"
        default 0xff

config RAMMTD_FLASHSIM
        bool "RAM MTD FLASH Simulation"
        default n
        ---help---
                RAMMTD_FLASHSIM will add some extra logic to improve the level of
                FLASH simulation.
endmenu

endif #RAMMTD

