#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if DRIVERS_BLE && DRIVERS_BR_EDR

choice
	prompt "Bluetooth Driver"
	default BLUETOOTH_NULL

config BLUETOOTH_NULL
	bool "NULL Bluetooth device"
	---help---
		A do-nothing Bluetooth device driver to permit some basic testing of
		the Bluetooth stack on the simulator.  This driver just "closes the
		loop" and nothing more:  It is a just a bit-bucket for outgoing
		packets; it generates no incoming packets.

endchoice # Bluetooth driver choice

endif


if DRIVERS_BLE && !DRIVERS_BR_EDR

choice
	prompt "BLE Driver"
	default VIRTUAL_BLE

config VIRTUAL_BLE
	bool "Virtual BLE Driver"

config RTK_BLE
	bool "Enable RTK BLE Module"

config BK_BLE
	bool "Enable Beken BLE Module"

endchoice # BLE driver choice

endif


if RTK_BLE

source drivers/bluetooth/realtek_ble/Kconfig

endif
if BLUETOOTH_NULL

source drivers/bluetooth/bt_null/Kconfig

endif
if VIRTUAL_BLE

source drivers/bluetooth/virtual_ble/Kconfig

endif
