config EXAMPLES_SENSORBOARD
	bool "Sensor Board Example"
	select ANALOG
	select ADC
	select GPIO
	select SPI
	select SPI_EXCHANGE
	select SERIAL
	select I2C
	select I2C_USERIO
	select PWM
	default n
	---help---
		Enable the Sensor Board Example
