#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_STACK_PROTECTION
	bool "Stack Protection Test Example"
	depends on (MPU_STACK_OVERFLOW_PROTECTION || REG_STACK_OVERFLOW_PROTECTION)
	select DRIVERS_KERNEL_TEST
	---help---
		Enable the Stack Overflow Protection Test Example

config USER_ENTRYPOINT
	string
	default "stack_prot_main" if ENTRY_STACK_PROTECTION
