#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#


config NET_IPv6_MLD_GROUP
	int "Max number of IPv6 multicast groups"
	default 4
	---help---
		Max number of IPv6 multicast groups.

