#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig EXAMPLES_LOADABLE
	bool "Enable Loadable Test Scenarios"
	default n
	depends on APP_BINARY_SEPARATION
	---help---
		Enable Loadable Examples

if EXAMPLES_LOADABLE
config EXAMPLES_LOADABLE_MANUAL_TEST
	bool "Manual Various Tests"
	default y
	depends on !EXAMPLES_LOADABLE_AUTOMATIC_TEST
	---help---
		Enable Manual Various Tests.
		User can run various tests manually.
		Test scenarios : Messaging Test / Binary Recovery Test / Binary Update Test

if EXAMPLES_LOADABLE_MANUAL_TEST
config EXAMPLES_MESSAGING_TEST
	bool "Messaging Framework Test"
	default y
	depends on MESSAGING_IPC
	---help---
		Enable the Messaging Framework Test"

if EXAMPLES_MESSAGING_TEST
config MESSAGING_TEST_REPETITION_NUM
	int "Messaging F/W Test Repetition Number"
	default 1
	---help---
		Messaging F/W Test repetition number.
		If set to 0(zero) or negative number, test runs infinitely.
endif

config EXAMPLES_RECOVERY_TEST
	bool "Binary Manager Recovery example"
	default y
	depends on BINMGR_RECOVERY
	select EXAMPLES_MPU_TEST
	select DRIVERS_KERNEL_TEST
	---help---
		Enable the Binary Manager Recovery test

config EXAMPLES_BINARY_UPDATE_TEST
	bool "Binary Update example"
	default n
	depends on BINMGR_UPDATE
	---help---
		Enable Binary Update example

endif #EXAMPLES_LOADABLE_MANUAL_TEST

config EXAMPLES_LOADABLE_AUTOMATIC_TEST
	bool "Automatic Various Tests"
	default n
	---help---
		Enable Automatic Test.
		Only One test can run at a time.
		Test scenarios : Binary Recovery Aging Test / Binary Update Aging Test / Micom Timer Test

if EXAMPLES_LOADABLE_AUTOMATIC_TEST
choice
	prompt "Automatic tests selection"
	default ENABLE_RECOVERY_AGING_TEST

config EXAMPLES_RECOVERY_AGING_TEST
	bool "Recovery Aging test"
	depends on BINMGR_RECOVERY
	select EXAMPLES_MPU_TEST
	select DRIVERS_KERNEL_TEST
	---help---
		Enable Recovery Aging test. Another Test cannot run at the same time.

config EXAMPLES_UPDATE_AGING_TEST
	bool "Update Aging test"
	depends on BINMGR_UPDATE
	---help---
		Enable Update Aging test. Another Test cannot run at the same time.

config EXAMPLES_MICOM_TIMER_TEST
	bool "Micom Timer Test"
	---help---
		Enable Timer test in micom app.
		If this test is enabled, another test will not run.
endchoice

if EXAMPLES_MICOM_TIMER_TEST
config EXAMPLES_MICOM_TIMER_REPEAT
	string "Repetition Number of Micom Timer Test"
	default 10
	---help---
		Repetition Number of Micom Timer Test

config EXAMPLES_MICOM_TIMER_INTERVAL
	string "Interval for Micom Timer Test"
	default 100
	---help---
		Time Interval for testing Timer.
		Interval is based on microsecond.
endif #EXAMPLES_MICOM_TIMER_TEST

endif #EXAMPLES_LOADABLE_AUTOMATIC_TEST
endif #EXAMPLES_LOADABLE
