#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SECURITY_API_TEST
	bool "Security API Test program"
	default n
	select STRESS_TOOL
	---help---
		Enable Security API Test

config USER_ENTRYPOINT
	string
	default "security API test" if ENTRY_SECURITY_API_TEST
