#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_SECURITY_TEST
	bool "Security Test"
	depends on TLS_WITH_SSS && SUPPORT_FULL_SECURITY && (ARCH_BOARD_ARTIK053S || ARCH_BOARD_ARTIK055S)
	default n

if EXAMPLES_SECURITY_TEST

config EXAMPLES_SECURITY_TEST_PROGNAME
	string "Program name"
	default "security selftest"
	depends on BUILD_KERNEL

endif # EXAMPLES_SECURITY_TEST

config USER_ENTRYPOINT
	string
	default "security_test_main" if ENTRY_SECURITY_TEST
