#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#


if MIPI_DSI

config MIPI_DSI_DRIVER
	bool "MIPI DSI Character Driver"
	default n

endif
