#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_AWS
	bool "AWS SDK Samples"
	depends on AWS_SDK
	default n
	---help---
		Enable AWS SDK Samples"
