config HW_RNG
	bool "HW RNG"
	default n
	---help---
		Supports true random generator by hardware
		Maximum random size is 256 bytes at one time.

config HW_DH_PARAM
	bool "HW supports DH params"
	default n
	---help---
		Generates and caculates diffie-hellman parameter with hardware.
		Supporting parameter size : 1024, 2048

config HW_ECDH_PARAM
	bool "HW supports ECDH params"
	default n
	---help---
		Generates and caculates eliptic curve params with hardware.
                Supporting curves :
		 . SECP 192, 224, 256, 384, 512
		 . Brainpool 256

config HW_RSA_VERIFICATION
	bool "HW rsa verification"
	default n
	---help---
		Verifing a RSA signature based on hardware.
		Supporting key size : 1024, 2048

config HW_ECDSA_VERIFICATION
	bool "HW ecdsa verification"
	default n
	---help---
		Verifing a ECDSA signature based on hardware.
		Supporting curves :
		 . SECP 192, 224, 256, 384, 512
		 . Brainpool 256

config HW_RSA_ENC
	bool "HW rsa encryption"
	default n
	---help---
		Encrypts a data based on hardware.
		Supporting key size : 1024, 2048

config HW_SE_STORAGE
	bool "Secure Storage Support"
	default n
	---help---
		SE supports Secure Stroage
