menu "PSRAM"
	config PSRAM
		bool "Enable PSRAM"
		default n

	config PSRAM_AS_SYS_MEMORY
		depends on PSRAM
		bool "Enable psram_malloc API"
		default n

	config USE_PSRAM_HEAP_AT_SRAM_OOM
		depends on PSRAM_AS_SYS_MEMORY
		bool "Use psram_malloc at os_malloc failed."
		default n

	config PSRAM_WRITE_THROUGH
		depends on PSRAM
		bool "Enable PSRAM write through"
		default n

	config PSRAM_CALIBRATE
		depends on PSRAM
		bool "Enable PSRAM calibrate"
		default n

	config PSRAM_AUTO_DETECT
		depends on PSRAM && EASY_FLASH && EASY_FLASH_V4
		bool "Enable PSRAM id auto detect function"
		default n

	config PSRAM_APS6408L_O
		depends on PSRAM
		bool "Select Psram PSRAM_APS6408L_O"
		default n

	config PSRAM_W955D8MKY_5J
		depends on PSRAM
		bool "Select Psram PSRAM_W955D8MKY_5J"
		default n

	config PSRAM_APS128XXO_OB9
		depends on PSRAM
		bool "Select Psram PSRAM_APS128XXO_OB9"
		default n

	config MEMORY_PRIORITIZE_PSRAM
		depends on PSRAM_AS_SYS_MEMORY
		bool "malloc relates function, prioritize malloc memory from PSRAM"
		default n

endmenu

