#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config COMPRESSION
        bool "Compression library support"
        default n
        ---help---
                Add support for compression library.

if COMPRESSION

config COMPRESSION_TYPE
        int "Compression Algorithm Type"
        default 2
        range 1 2
        ---help---
                Enter compression type.
                1 = LZMA
                2 = MINIZ

endif # COMPRESSION

config COMPRESSED_BINARY
	bool "Compressed binary support"
	default n
	depends on BINFMT_ENABLE
	select COMPRESSION
	---help---
		If a compressed binary is to be loaded/executed
		this config needs to be enabled. It adds support for
		reading compressed binary.

if COMPRESSED_BINARY

config COMPRESSION_BLOCK_SIZE
	int "Block size for binary compression"
	default 16384
	range 512 16384
	---help---
		Enter block size to use for compression of binary.

endif # COMPRESSED_BINARY
