#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if INIT_ENTRYPOINT
comment "Application entry point list"
choice
	prompt "Application entry point"
config ENTRY_MANUAL
	bool "Set entry point manually"
	---help---
		If you select this, you should add a function name as an application entry point
		at "Entry point function name".

source "$APPSDIR/Kconfig_ENTRY"
endchoice

config USER_ENTRYPOINT
	string "Entry point function name" if ENTRY_MANUAL
	---help---
		The name of the entry point for user applications.
endif # INIT_ENTRYPOINT

