#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#
config EXAMPLES_SECURITY_API_TEST
	bool "Security API Test"
	select STRESS_TOOL
	default n

if EXAMPLES_SECURITY_API_TEST

config EXAMPLES_SECURITY_API_TEST_PROGNAME
	string "Program name"
	default "Security API selftest"
	depends on BUILD_KERNEL

endif # EXAMPLES_SECURITY_API_TEST

config USER_ENTRYPOINT
	string
	default "security_hal_test_main" if ENTRY_SECURITY_API_TEST
