#
# For a description of the syntax of this configuration file,
# see kconfig-language at
# https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

comment "Task Management"

config TASKMGT_DRIVER
	bool "Task management support"
	default n
	---help---
		Task management driver.
