#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_WEBSOCKET
	bool "Websocket example"
	depends on NETUTILS_WEBSOCKET
	default n
	---help---
		Enable websocket client/server example

config USER_ENTRYPOINT
	string
	default "websocket_main" if ENTRY_WEBSOCKET

