menu "Enable Statistics"

config NET_STATS
	bool "Enable Statistics"
	default y
	---help---
		Enable statistics collection in lwip_stats.

if NET_STATS

config NET_STATS_DISPLAY
	bool "Enable Stats Display"
	default n
	---help---
		Enable stats display.

config NET_LINK_STATS
	bool "Enable Link Stats"
	default n
	---help---
		Enable link stats.

config NET_ETHARP_STATS
	bool "Enable ETHARP Stats"
	depends on NET_ARP
	default n
	---help---
		Enable etharp stats.

config NET_IP_STATS
	bool "Enable IP Stats"
	depends on NET_IPv4
	default n
	---help---
		Enable IP stats.

if NET_IP_FRAG || NET_IP_REASSEMBLY
config NET_IPFRAG_STATS
	bool "Enable IP Fragment"
	default n
	---help---
		Enable IP fragmentation stats. Default is on if using either frag or reass.

endif #NET_IP_FRAG || NET_IP_REASSEMBLY

config NET_ICMP_STATS
	bool "Enable ICMP Stats"
	depends on NET_ICMP
	default n
	---help---
		Enable ICMP stats.

config NET_IGMP_STATS
	bool "Enable IGMP Stats"
	depends on NET_IGMP
	default n
	---help---
		Enable IGMP stats.

config NET_UDP_STATS
	bool "Enable UDP Stats"
	depends on NET_UDP
	default n
	---help---
		Enable UDP stats. Default is on if UDP enabled, otherwise off.

config NET_TCP_STATS
	bool "Enable TCP Stats"
	depends on NET_TCP
	default n
	---help---
		Enable TCP stats. Default is on if TCP enabled, otherwise off.

if !NET_MEM_LIBC_MALLOC && !NET_MEM_USE_POOLS
config NET_MEM_STATS
	bool "Enable Memory Stats"
	default n
	---help---

endif #!NET_MEM_LIBC_MALLOC && !NET_MEM_USE_POOLS

config NET_MEMP_STATS
	bool "Enable Memory Pool Stats"
	depends on !NET_MEMP_MEM_MALLOC
	default n
	---help---
		Enable mem.c stats.

config NET_SYS_STATS
	bool "Enable System Stats"
	default n
	---help---
		Enable system stats (sem and mbox counts, etc).

config NET_IPv6_STATS
	bool "Enable IPv6 Stats"
	depends on NET_IPv6
	default n
	---help---
		Enable IPv6 stats.

config NET_IPv6_ICMP_STATS
	bool "Enable ICMP stats for IPv6"
	depends on NET_IPv6
	default n
	---help---
		Enable ICMP stats for IPv6.

config NET_IPv6_FRAG_STATS
	bool "Enable IPv6 fragmentation stats"
	depends on NET_IPv6_FRAG
	default n
	---help---
		Enable IPv6 fragmentation stats.


config NET_IPv6_MLD_STATS
	bool "Enable IPv6 MLD stats"
	depends on NET_IPv6_MLD
	default n
	---help---
		Enable IPv6 MLD stats.

config NET_IPv6_ND_STATS
	bool "Enable IPv6 ND stats"
	depends on NET_IPv6
	default n
	---help---
		Enable IPv6 ND stats.

endif #NET_STATS
endmenu #"Enable Statistics"
