#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#
if NET_IPv6

config NET_IPv6_NUM_ADDRESSES
	int "Number of IPv6 addresses per netif"
	default 3
	---help---
		Number of IPv6 addresses per netif.

config NET_IPv6_FORWARD
	bool "Enable IPv6 packet forwarding"
	default n
	---help---
		Enables forward IPv6 packets across netifs.

config NET_IPv6_FRAG
	bool "Enable IPv6 packet fragment"
	default n
	---help---
		Enables fragment outgoing IPv6 packets that are too big.

config NET_IPv6_REASS
	bool "Enable IPv6 packet reassemble"
	default y
	---help---
		Enables reassemble incoming IPv6 packets that fragmented.

config NET_IPV6_REASS_MAXAGE
	int "Maximum time for fragments"
	default 60
	---help---
		Maximum time (in multiples of IP6_REASS_TMR_INTERVAL - so seconds, normally)
		a fragmented IP packet waits for all fragments to arrive. If not all fragments
		arrived in this time, the whole packet is discarded.

config NET_IPv6_SEND_ROUTER_SOLICIT
	bool "Send router solicitation messages during network startup"
	default y
	---help---
		Send router solicitation messages during network startup.

config NET_IPv6_AUTOCONFIG
	bool "Enable stateless address autoconfiguration as per RFC 4862"
	default y
	---help---
		Enable stateless address autoconfiguration as per RFC 4862.


config NET_IPv6_DUP_DETECT_ATTEMPTS
	int "Number of duplicate address detection attempts"
	default 1
	---help---
		Number of duplicate address detection attempts.

config NET_IPv6_PMTU_FOR_MULTICAST
	bool "Support PMTU for multicast destinations"
	default n
	---help---
		Support PMTU for multicast destinations

endif
