#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SYSIO_TEST
	bool "\"System I/O Test (GPIO,PWM,I2C,SPI,UART) \" example"
	default n
	---help---
		Enable the \"System I/O Test\" example

if EXAMPLES_SYSIO_TEST

config EXAMPLES_SYSIO_TEST_PROGNAME
	string "Program name"
	default "sysio"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

endif

config USER_ENTRYPOINT
	string
	default "sysio_main" if ENTRY_SYSIO_TEST
