#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TESTCASE_PREFERENCE_UTC
	bool "Preference UTC TestCase Example"
	default n
	depends on PREFERENCE
	---help---
		Enable the Preference TestCase
