#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if NET_LWIP_NETDB

config NET_DNS_TABLE_SIZE
	int "DNS maximum number of entries to maintain locally"
	default 4
	---help---
		DNS maximum number of entries to maintain locally.

config NET_DNS_MAX_NAME_LENGTH
	int "DNS maximum host name length supported in the name table"
	default 256
	---help---
		DNS maximum host name length supported in the name table.

config NET_DNS_MAX_SERVERS
	int "The maximum of DNS servers"
	default 2
	---help---
		The maximum of DNS servers
		The first server can be initialized automatically by defining
		DNS_SERVER_ADDRESS(ipaddr), where \'ipaddr\' is an \'ip_addr_t\*\'

config NET_DNS_DOES_NAME_CHECK
	bool "DNS do a name checking between the query and the response"
	default 1
	---help---
		DNS do a name checking between the query and the response.

config NET_DNS_SECURE
	int "LWIP_DNS_SECURE: controls the security level of the DNS"
	default 0
	---help---
		controls the security level of the DNS implementation
		LWIP_DNS_SECURE_RAND_XID 1
		LWIP_DNS_SECURE_NO_MULTIPLE_OUTSTANDING 2
		LWIP_DNS_SECURE_RAND_SRC_PORT 4
		Use all DNS security features, set it to 7.
		This is overridable but should only be needed by very small targets or when using against non standard DNS servers.

config NET_DNS_LOCAL_HOSTLIST
	bool "DNS_LOCAL_HOSTLIST: Implements a local host-to-address list. If enabled, you have to define an initialize"
	default n
	---help---
		Implements a local host-to-address list. If enabled, you have to define an initialize.

if NET_DNS_LOCAL_HOSTLIST
config NET_DNS_LOCAL_HOSTLIST_IS_DYNAMIC
	bool "If this is turned on, the local host-list can be dynamically changed at runtime"
	default n
	---help---
		If this is turned on, the local host-list can be dynamically changed at runtime.
endif

endif
