#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_RTC
	bool "RTC Accuracy Test"
	default n
	depends on RTC
	depends on RTC_IOCTL
	---help---
		Enable the RTC Accuracy Test

config USER_ENTRYPOINT
	string
	default "rtc_main" if ENTRY_RTC
