#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TESTCASE_TCP_TLS_STRESS 
	bool "TCP TLS Strss Test Example"
	default n
	select TLS_TCP_STRESS
	depends on STRESS_TOOL
	depends on EXAMPLES_TESTCASE
	depends on NET_SECURITY_TLS
	depends on WIFI_MANAGER
	---help---
		Enable the TCP TLS Stress Test example

if EXAMPLES_TESTCASE_TCP_TLS_STRESS
config EXAMPLES_TESTCASE_TCP_TLS_TRIAL
	int "Number of test trials"
	default 20
	---help---
		Number of stress test trials

comment "Specify your AP which you want to connect to"
config EXAMPLES_TESTCASE_TCP_TLS_SSID
	string "SSID of AP"
	default "NULL"
	---help---
		Select SSID of AP which you want to connect to

config EXAMPLES_TESTCASE_TCP_TLS_PASSPHRASE
	string "Passphrase of AP"
	default "NULL"
	---help---
		Passphrase of AP which you want to connect to

config EXAMPLES_TESTCASE_TCP_TLS_AUTHENTICATION
	int "Authentication type"
	default 0
	---help---
		0 : Open
		1 : WEP Shared
		2 : WPA PSK
		3 : WPA2 PSK
		4 : WPA and WPA2 PSK
		5 : Unknown

config EXAMPLES_TESTCASE_TCP_TLS_CRYPTO
	int "Encryption type"
	default 0
	---help---
		0 : None
		1 : WEP 64 bits
		2 : WEP 128 bits
		3 : AES
		4 : TKIP
		5 : TIKP and AES
		6 : Unknown

endif #EXAMPLES_TESTCASE_TCP_TLS_STRESS
