if SCSC_CORE

config SCSC_PLATFORM
	bool "Samsung SCSC MIF Platform driver implementation"
	default n

config SCSC_WLANLITE
	bool "Samsung SCSC WLANLITE driver mode"
	default n

config SCSC_DISABLE_WLAN_RESET
	bool "Never power down the Samsung SCSC WLAN CPU"
	default n

endif
