if SCSC_CORE != n

config SCSC_PLATFORM
	bool "Samsung SCSC MIF Platform driver implementation"
	depends on SCSC_CORE
	default n

config SCSC_WLANLITE
	bool "Samsung SCSC WLANLITE driver mode"
	depends on SCSC_CORE
	default n

endif

config SCSC_DISABLE_WLAN_RESET
	bool "Never power down the Samsung SCSC WLAN CPU"
	depends on SCSC_CORE
	default n
