#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_ST_THINGS
	bool "ST Things example"
	default n
	select IOTBUS
	---help---
		Enable the ST(SmartThings) Things example

if EXAMPLES_ST_THINGS
choice
	prompt "ST Things Sample list"
	default EXAMPLES_ST_THINGS_LIGHT
	---help---
		This selection builds a sample of ST_things.

config EXAMPLES_ST_THINGS_LIGHT
	bool "LIGHT"
	select IOTBUS_GPIO
	---help---
		This is a Light Sample.

config EXAMPLES_ST_THINGS_BLINK
	bool "BLINK"
	select IOTBUS_GPIO
	---help---
		This is a Blink Sample.

config EXAMPLES_ST_THINGS_MSG_HANDLING
	bool "Message Handling Example"
	select IOTBUS_GPIO
	---help---
		This is a Message handling Sample.

endchoice

config RESET_BUTTON
	bool "Reset_Button"
	default y
	depends on EXAMPLES_ST_THINGS_LIGHT
	---help---
		Decide whether to use the button to reset the connection on your board.
config LIGHT_SWITCH_BUTTON
	bool "Light_Switch_Button"
	default y
	depends on EXAMPLES_ST_THINGS_LIGHT
	---help---
		Decide whether to use the button to trigger the light switch on your board.

config RESET_BUTTON_PIN_NUMBER
	int "Pin Number"
	default 44
	depends on RESET_BUTTON
	---help---
		The default is the reset button pin number 44 for the ARTIK 053.
		If you use another board, you can set the pin number for the board.

config LIGHT_SWITCH_BUTTON_PIN_NUMBER
	int "GPIO Number of handle notify switch resource observers manually"
	default 42
	depends on LIGHT_SWITCH_BUTTON
	---help---
		The default value of switch SW702 for the ARTIK 053 is 42 gpio number.
		If you use another board, you can set the pin number for the board.

config EXAMPLES_ST_THINGS_RED_LED_GPIO_NUM
	int "GPIO number of RED LED"
	default 45
	depends on EXAMPLES_ST_THINGS_BLINK
	---help---
		This is a red led gpio num.

endif

config USER_ENTRYPOINT
	string
	default "st_things_sample_main" if EXAMPLES_ST_THINGS
