[submodule "external/avs/avs-device-sdk"]
	path = external/avs/avs-device-sdk
	url = https://github.com/alexa/avs-device-sdk.git
[submodule "build/tools/esp32/esptool_py/esptool"]
	path = build/tools/esp32/esptool_py/esptool
	url = https://github.com/espressif/esptool.git
[submodule "external/nanopb/nanopb"]
	path = external/nanopb/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "external/libsodium/libsodium"]
	path = external/libsodium/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "external/stdk/st-device-sdk-c"]
	path = external/stdk/st-device-sdk-c
	url = https://github.com/SmartThingsCommunity/st-device-sdk-c
