#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SYSTEM_RAMTEST
	bool "RAM Test"
	default n
	---help---
		Enable a simple RAM test.

if SYSTEM_RAMTEST

config SYSTEM_RAMTEST_PRIORITY
	int "RAM test task priority"
	default 100

config SYSTEM_RAMTEST_STACKSIZE
	int "RAM test stack size"
	default 1024

endif
