#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config UI
	bool "AraUI Framework Support"
	default n
	select CLOCK_MONOTONIC
	---help---
		Enables overall support for AraUI Framework

if UI

config UI_DISPLAY_WIDTH
	int "Display width"
	default 256
	---help---
		Display width value

config UI_DISPLAY_HEIGHT
	int "Display height"
	default 96
	---help---
		Display height value

config UI_TOUCH_THRESHOLD
	int "Touch threshold"
	default 10
	---help---
		Touch threshold value

choice
	prompt "Display color depth"
	default UI_DISPLAY_RGB565

config UI_DISPLAY_RGB565
	bool "16bit color (RGB565)"

config UI_DISPLAY_4BIT_GRAY
	bool "4bit Grayscale"

endchoice # Display color depth


config UI_STACK_SIZE
	int "Stack size"
	default 4096
	---help---
		Stack size

config UI_MAXIMUM_FPS
	int "Maximum FPS"
	default 30
	range 0 100
	---help---
		Maximum allowable frame rate of the UI framework
		If this value is set to 0, then screen is continuously updated with
		the maximum possible FPS.
		The range of FPS is [0, 100].

config UI_UPDATE_MEMPOOL_SIZE
	int "Mempool size"
	default 128
	---help---
		Maximum mempool size of the update list.

choice
	prompt "HAL Implementation"
	default UI_HAL_NULL_IMPL

config UI_HAL_NULL_IMPL
	bool "Null implementation"

config UI_HAL_ESP_IMPL
	bool "ESP32 WROVER implementation"

endchoice # HAL Implementation

config UI_TOUCH_INTERFACE
	bool "Enable touch interface"
	default n

endif
