#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menu "System Libraries"
menu "EMACS-like Command Line Editor"
source "$APPSDIR/system/cle/Kconfig"
endmenu

menu "CU Minimal Terminal"
source "$APPSDIR/system/cu/Kconfig"
endmenu

menu "FLASH Erase-all Command"
source "$APPSDIR/system/flash_eraseall/Kconfig"
endmenu

menu "FOTA HAL Application Library"
source "$APPSDIR/system/fota_hal/Kconfig"
endmenu

menu "I2C tool"
source "$APPSDIR/system/i2c/Kconfig"
endmenu

menu "INI File Parser"
source "$APPSDIR/system/inifile/Kconfig"
endmenu

menu "FLASH Program Installation"
source "$APPSDIR/system/install/Kconfig"
endmenu

menu "PHY Tool"
source "$APPSDIR/system/mdio/Kconfig"
endmenu

menu "System netdb Interface"
source "$APPSDIR/system/netdb/Kconfig"
endmenu

menu "Power Off"
source "$APPSDIR/system/poweroff/Kconfig"
endmenu

menu "P-Code Support"
source "$APPSDIR/system/prun/Kconfig"
endmenu

menu "RAM test"
source "$APPSDIR/system/ramtest/Kconfig"
endmenu

menu "RAMTRON"
source "$APPSDIR/system/ramtron/Kconfig"
endmenu

menu "readline()"
source "$APPSDIR/system/readline/Kconfig"
endmenu

menu "Sysinfo"
source "$APPSDIR/system/sysinfo/Kconfig"
endmenu

menu "Utils"
source "$APPSDIR/system/utils/Kconfig"
endmenu

menu "VI Work-Alike Editor"
source "$APPSDIR/system/vi/Kconfig"
endmenu
endmenu

