menuconfig SCSC_WLAN
	bool "SCSC Wireless Module support"
	default n
	depends on LIBM && SCHED_WORKQUEUE && !DISABLE_PTHREAD && WPA_SUPPLICANT
	select SPI

if SCSC_WLAN

config SLSI_RX_PERFORMANCE_TEST
	bool "Enable UDP RX performance test"
        default n
	---help---
	  This option enables RX UDP performance measurement without
	  involving the LWIP stack

config SCSC_TX_FLOW_CONTROL
	bool "Enable TX flow control"
        default n
	---help---
	  This option enables TX flow control

config SCSC_ENABLE_PORT_CONTROL
	bool "Enable controlled/uncontrolled port logic in the driver"
	default y
	---help---
	  This option enables controlled/uncontrolled port logic in the driver

config SCSC_WLAN_STA_ONLY
	bool "Support WLAN STA only (no P2P/AP/IBSS)"
	default n
	---help---
	  Enable only basic STA mode for debugging purposes

config SCSC_WLAN_BLOCK_IPV6
	bool "Block IPv6"
	default n
	---help---
	  This option blocks IPv6 packets.

config SCSC_WLAN_UDP_FLOWCONTROL
	bool "Enable UDP Flow Control by changing LPWORK priority"
	default n
	---help---
	  This option enables when iperf UDP Rx packet drops exist
	  when mbox has been full, LPWORK drops its priority

config SCSC_WLAN_AUTO_RECOVERY
	bool "Enable Auto Recovery"
	default n
	---help---
	  Enables auto recovery on FW panic and SCSC driver watch dog timeouts,
	  which will reset subsystem and re-enable state.

config SCSC_WLAN_POWER_SAVE
        bool "Enable Power Save mode"
        default y
        ---help---
          This option enables driver to configure power save mode in
          firmware.

config SCSC_WLAN_MAX_INTERFACES
	int "Max number of virtual interfaces supported"
	default 1
	---help---
	  The driver structures are sized to support this
	  number of interfaces.

endif

menuconfig SCSC_CORE
	bool "SCSC Core driver Module support"
	default n
	select SPI

if SCSC_CORE

config SCSC_PLATFORM
	bool "Samsung SCSC MIF Platform driver implementation"
	default n

config SCSC_WLANLITE
	bool "Samsung SCSC WLANLITE driver mode"
	default n

config SCSC_DISABLE_WLAN_RESET
	bool "Never power down the Samsung SCSC WLAN CPU"
	default n

endif
