#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config USE_BP
	bool "Enable bootparameters"
	default n
	---help---
		This enables the use of bootparameters

config BINARY_MANAGER
	bool "Enable Binary Manager"
	default n
	depends on !DISABLE_MQUEUE && !DISABLE_SIGNAL
	depends on MTD_FTL && FLASH_PARTITION
	---help---
		This is kernel thread which manages binaries.
		It loads/unloads binaries and recovers any fault occurs in a system.

if BINARY_MANAGER

config BM_PRIORITY_MAX
	int
	default 205
	---help---
		This is a maximum priority of kernel threads which are in charge of binary management.

config BM_PRIORITY_MIN
	int
	default 200
	---help---
		This is a minimum priority of kernel threads which are in charge of binary management.

config BINMGR_RECOVERY
	bool "Enable Recovery Management"
	default y
	depends on APP_BINARY_SEPARATION && BINFMT_LOADABLE
	depends on !BINMGR_RELOAD_REBOOT
	---help---
		Enable the recovery management.
		If any fault occurs in a system, it will either restart binary or reboot the system
		accroding to the configuration.

config BINMGR_UPDATE
	bool "Enable Binary Update"
	default y
	select BCH
	select LIB_BOARDCTL
	select BOARDCTL_RESET
	---help---
		Enables Binary Manager Update APIs.

config BINMGR_UPDATE_SAME_VERSION
	bool "Allow Same Version Binary Update"
	default y
	depends on BINMGR_UPDATE
	---help---
		Allow same version binary update.
		If it is disabled, only higher version can be updated.

config BINMGR_RELOAD_REBOOT
	bool "Enable board reset for binary reloading"
	default n
	depends on BINMGR_UPDATE
	---help---
		Enable the board reset for binary reloading.
		If it is enabled, the board will be rebooted for binary reloading when fault recovery or binary update.

endif # BINARY_MANAGER
