#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config BINARY_MANAGER
	bool "Enable Binary Manager"
	default n
	depends on APP_BINARY_SEPARATION && BINFMT_LOADABLE && !DISABLE_MQUEUE && !DISABLE_SIGNAL
	depends on MTD_FTL && FLASH_PARTITION && MTD_PARTITION_NAMES
	---help---
		This is kernel thread which manages binaries.
		It loads/unloads binaries and recovers any fault occurs in a system.

if BINARY_MANAGER

config BM_PRIORITY_MAX
	int
	default 205
	---help---
		This is a maximum priority of kernel threads which are in charge of binary management.

config BM_PRIORITY_MIN
	int
	default 200
	---help---
		This is a minimum priority of kernel threads which are in charge of binary management.

config BINMGR_RECOVERY
	bool "Enable Recovery Management"
	default y
	---help---
		Enable the recovery management.
		If any fault occurs in a system, it will either restart binary or reboot the system
		accroding to the configuration.

config BINMGR_UPDATE
	bool "Enable Binary Update"
	default y
	---help---
		Enables Binary Manager Update APIs.

endif # BINARY_MANAGER
