#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig EXAMPLES_TESTCASE_SYSTEMIO_UTC
	bool "System IO UTC TestCase Example"
	default n
	---help---
		Enable the System IO TestCase Example

if EXAMPLES_TESTCASE_SYSTEMIO_UTC
config SYSIO_UTC_UART
	bool "Sysio UART TC"
	default n

if SYSIO_UTC_UART
config SYSIO_UTC_UART_FILE_PATH
	string "Virtual File path of uart to run testcase"
	default "/dev/ttyS2"
endif

config SYSIO_UTC_SPI
	bool "Sysio SPI TC"
	default n

config SYSIO_UTC_I2C
	bool "Sysio I2C TC"
	default n

config SYSIO_UTC_PWM
	bool "Sysio PWM TC"
	default n

config SYSIO_UTC_GPIO
	bool "Sysio GPIO TC"
	default n

config SYSIO_UTC_ADC
	bool "Sysio ADC TC"
	default n

if SYSIO_UTC_GPIO
config SYSIO_UTC_GPIO1_NUM
	int "1st GPIO Number to run testcase"
	default 41

config SYSIO_UTC_GPIO2_NUM
	int "2nd GPIO Number to run testcase"
	default 57
endif
endif

