#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SECLINK_TOOL
	bool "seclink tool"
	default n
	---help---
		Enable the seclink tool

config USER_ENTRYPOINT
	string
	default "sltool_main" if ENTRY_SECLINK_TOOL
