#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

comment "AMEBAD Configuration Options"

choice
	prompt "AMEBAD Chip Selection"
	default ARCH_CHIP_RTL8721CSM
	depends on ARCH_CHIP_AMEBAD

config ARCH_CHIP_RTL8721CSM
	bool "RTL8721CSM"
	select RTL8721D
	select ARCH_CORTEXM33
	select CHIP_A_CUT
	select KERNEL
	select SOC_PS_EN
	select SDIO_DEVICE_EN
	select MBED_API_EN
	select WIFI_EN
	select NETWORK
	select USE_MBEDTLS_ROM
	select MBED_TLS_ENABLED
	select DEBUG_LOG	
	select TOOLCHAIN_ASDK
	select LINK_ROM_SYMB	
	
endchoice
 
choice	
	prompt "Product"
	default RTL8721D	
	
config RTL8721D
	bool
	default n	
	
endchoice	

choice	
	prompt "ArmCore"
	default ARCH_CORTEXM33	
	
config ARCH_CORTEXM33
	bool
	default n	
	
endchoice	
 	
	
config FPGA
	bool "Select FPGA"
	default n	
	
	
choice	
	prompt "Chip Version"
	default CHIP_A_CUT	
	
config CHIP_A_CUT
	bool
	default n
	
config CHIP_B_CUT
	bool
	default n	
	
endchoice	
	
	
if FPGA=n
	config CPU_CLK
		bool
		default n
endif

	
menu "cpu clock configuration"
	depends CPU_CLK

choice 
	prompt "CPU Clock Config Type"
	default CPU_200MHZ
	
	config CPU_200MHZ
		bool
		default n
		
	config CPU_100MHZ
		bool
		default n
		
	config CPU_50MHZ
		bool
		default n
		
	config CPU_25MHZ
		bool
		default n
		
	config CPU_XTAL
		bool
		default n
		
	config FPGA_CLK
		bool
		default n		

endchoice
		
endmenu 


choice 
	prompt "Mass Production"
	default MP
	
	config MP
		bool
		default n
		
	config CP
		bool
		default n
		
	config FT
		bool
		default n
		
	config EQC
		bool
		default n	

endchoice


config TRUSTZONE
	bool "Enable TrustZone"
	default n


config KERNEL
	bool "Enable Kernel"
	default n

config SOC_PS_EN
	bool "Enable SOC PS"
	default n
	select SOC_PS_MODULE
	
config SOC_PS_MODULE
	bool "CONFIG SOC PS"
	default n	
	

config SDIO_DEVICE_EN
	bool "Enable Sdio Device"
	default n
	
menu
	depends SDIO_DEVICE_EN
	
	config SDIO_DEVICE_NORMAL
		bool
		default n
		
	config SDIO_DEVICE_MODULE
		bool
		default n	

endmenu


config PINMAP_ENABLE
	bool "PINMAP Enable"
	default n
	
config MBED_API_EN
	bool "Enable MBED_API"
	default n	

config PER_TEST
	bool "Enable Peripheral Test"
	default n	
	
menu
	depends PER_TEST
	
	Config DBGPORT_ENABLE
		bool "DBGPORT Enable"
		default n
		
	Config TIMER_VERIFY
		bool "Timer_Verify_Mode"
		default n
		
	Config WDG_VERIFY
		bool "WDG_Verify_Mode"
		default n

	Config GDMA_VERIFY
		bool "Gdma_Verify_Mode"
		default n

	Config GPIO_VERIFY
		bool "GPIO_Verify_Mode"
		default n

	Config SPI_COM_VERIFY
		bool "SPI_COM_Verify_Mode"
		default n

	Config SPI_VERIFY
		bool "USI_SPI_Verify_Mode"
		default n

	Config UART_VERIFY
		bool "UART_Verify_Mode"
		default n

	Config USI_UART_VERIFY
		bool "USI_UART_Verify_Mode"
		default n

	Config LCDC_VERIFY
		bool "LCDC_Verify_Mode"
		default n

	Config I2C_VERIFY
		bool "I2C_Verify_Mode"
		default n		

	Config PMC_VERIFY
		bool "PMC_Verify_Mode"
		default n
	
	Config USI_I2C_VERIFY
		bool "USI_I2C_Verify_Mode"
		default n	
	
	Config KEYSCAN_VERIFY
		bool "KeyScan_Verify_Mode"
		default n	
	
	Config SGPIO_VERIFY
		bool "SGPIO_Verify_Mode"
		default n	
	
	Config PSRAM_VERIFY
		bool "PSRAM_Verify_Mode"
		default n	
	
	Config I2S_VERIFY
		bool "I2S_Verify_Mode"
		default n	
	
	Config AUDIO_VERIFY
		bool "AUDIO_Verify_Mode"
		default n	
	
	Config SOC_PS_VERIFY
		bool "SOC_PS_Verify_Mode"
		default n
	
	Config CRYPTO_VERIFY
		bool "Crypto_Verify_Mode"
		default n
	
	Config EFUSE_VERIFY
		bool "EFUSE_Verify_Mode"
		default n
	
	Config SPIC_VERIFY
		bool "SPIC_Verify_Mode"
		default n
	
	Config FTL_VERIFY
		bool "FTL_Verify_Mode"
		default n
	
	Config ADC_VERIFY
		bool "ADC_Verify_Mode"
		default n
	
	Config RSIP_VERIFY
		bool "RSIP_Verify_Mode"
		default n
	
	Config SDIO_DEVICE_VERIFY
		bool "SDIO_DEVICE_Verify_Mode"
		default n
	
	Config SDIOH_VERIFY
		bool "SDIO_HOST_Verify_Mode"
		default n
	
	Config DHRYSTONE_TEST
		bool "Dhrystone Test"
		default n	
	Config RTLIB_VERIFY
		bool "RTLIB ROM Test"
		default n
	
	Config IPC_VERIFY
		bool "IPC Test"
		default n
	
	Config IR_VERIFY
		bool "IR Test"
		default n
	
	Config MPU_VERIFY
		bool "MPU Test"
		default n
	
	Config CACHE_VERIFY
		bool "CACHE Test"
		default n
	
	Config WFE_VERIFY
		bool "WFE Test"
		default n
	
endmenu
	
config SEC_VERIFY
	bool "SEC_Verify_Mode"
	default n	
	
menu
	depends SEC_VERIFY
	
	Config CACHE_SEC_VERIFY
		bool "CACHE Secure Test"
		default n

	Config EFUSE_SEC_VERIFY
		bool "EFUSE Secure Test"
		default n

	Config GDMA_SEC_VERIFY
		bool "GDMA Secure Test"
		default n

	Config AES_SEC_VERIFY
		bool "AES Secure Test"
		default n

	Config CRYPTO_SEC_VERIFY
		bool "Crypto Secure Test"
		default n

	Config CRC_SEC_VERIFY
		bool "CRC Secure Test"
		default n

	Config RDP_SEC_VERIFY
		bool "RDP Secure Test"
		default n		
endmenu		
	
	
config BT_EN
	bool "Enable BT"
	default n	
	
menu
	depends BT_EN
	
	Config BT
		bool
		default n

	Config BT_PERIPHERAL
		bool "BT_Peripheral"
		default n

	Config BT_CENTRAL
		bool "BT_Central"
		default n

	Config BT_SCATTERNET
		dep_bool "BT_Scatternet"
		default n
		depends on BT_PERIPHERAL BT_CENTRAL

	Config BT_BEACON
		bool "BT_Beacon"
		default n

	Config BT_CONFIG
		bool "BT_Simple_Config"
		default n

	Config BT_AIRSYNC_CONFIG
		bool "BT_Airsync_Config"
		default n		
endmenu		
	
	
config WIFI_EN
	bool "Enable Wifi"
	default n	
	select WIFI_NORMAL
	
menu
	depends WIFI_EN
	
	Config BT
		bool
		default n

	Config HIGH_TP_TEST
		bool "Enable High TP Test"
		default n

choice 
	prompt "WIFI Config Type"
	default WIFI_NORMAL
	
	config WIFI_NORMAL
		bool
		default n
		select WIFI_MODULE
		
	config WIFI_TEST
		bool
		default n
		select WIFI_MODULE
		select WIFI_VERIFY
		
endchoice
		
	Config WIFI_MODULE
		bool
		default n
		depends WIFI_NORMAL

	Config WIFI_VERIFY
		bool
		default n
		depends on WIFI_TEST

endmenu	
	
	
config NETWORK
	bool "Enable Network"
	default n	

config USB_OTG_EN
	bool "Enable USB"
	default n

menu
	depends USB_OTG_EN
	
	Config USB_DEVICE_EN
		bool "USB OTG Type"
		default n
endmenu		

menu
	depends USB_DEVICE_EN
	
choice	
	prompt "USB Device Type"
	default USBD_AUDIO
	
	Config USBD_AUDIO
		bool "USB_DEVICE_AUDIO"
		default n

	Config USBD_MSC
		bool "USB_DEVICE_MSC"
		default n
		
	Config USBD_CDC_ACM
		bool "USB_DEVICE_CDC_ACM"
		default n		
endchoice		
endmenu	

config USE_MBEDTLS_ROM
	bool "SSL Config"
	default n	

config MBED_TLS_ENABLED
	bool "MBEDTLS Enable"
	default n	
	
config SSL_ROM_TEST
	bool "SSL ROM Test"
	default n		

config BAIDU_DUER
	bool "Enable DuerOS"
	default n	
	
config MQTT_EN
	bool "Enable MQTT"
	default n
	
config GUI_EN
	bool "Enable GUI"
	default n	
	select EMWIN_EN
	select LITTLEVGL_EN

config EMWIN_EN
	bool "emWin"
	default n

config LITTLEVGL_EN
	bool "LittlevGL"
	default n
	
config AUDIO_EN
	bool "Enable Audio"
	default n

config DEBUG_LOG
	bool "Enable debug log"
	default n
	
choice	
	prompt "Toolchain"
	default TOOLCHAIN_ASDK
	
	Config TOOLCHAIN_ASDK
		bool "ASDK"
		default n

	Config TOOLCHAIN_ARM_GCC
		bool "ARM_GCC"
		default n
			
endchoice	

choice	
	prompt "Link ROM Mode"
	default LINK_ROM_LIB
	
	Config LINK_ROM_LIB
		bool "Link_ROM_Library"
		default n

	Config LINK_ROM_SYMB
		bool "Link_ROM_Symbol"
		default n
			
endchoice