#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

comment "AMEBAD Configuration Options"

choice
	prompt "AMEBAD Chip Selection"
	default ARCH_CHIP_RTL8721CSM
	depends on ARCH_CHIP_AMEBAD

config ARCH_CHIP_RTL8721CSM
	bool "RTL8721CSM"
	select ARCH_CORTEXM33
	select ARCH_HAVE_FPU
	select AMEBAD_WIFI
	select ARMV8M_HAVE_ICACHE
	select ARMV8M_HAVE_DCACHE

endchoice

menu "Realtek RTL8721D Peripheral Support"

config RTL8721D_UART
	bool "UART"
	default n

config RTL8721D_UART0
	bool "UART 0"
	default n
	select RTL8721D_UART
	select ARCH_HAVE_UART0
	select ARCH_HAVE_SERIAL_TERMIOS

config RTL8721D_UART1
	bool "UART 1"
	default n
	select RTL8721D_UART
	select ARCH_HAVE_UART1
	select ARCH_HAVE_SERIAL_TERMIOS	

config RTL8721D_UART2
	bool "UART 2"
	default n
	select RTL8721D_UART
	select ARCH_HAVE_UART2
	select ARCH_HAVE_SERIAL_TERMIOS

config RTL8721D_SERIAL_FIFO
	bool "UART SERIAL FIFO"
	default n

config AMEBAD_I2S
	bool "Enable Amebad I2S"
	default n

if AMEBAD_I2S
config AMEBAD_I2S_RX
	bool "Enable I2S RX"
	default n

config AMEBAD_I2S_TX
	bool "Enable I2S TX"
	default n

config AMEBAD_I2S_16BIT_PADDING
	bool "Enable I2S 16-bit padding"
	default n
	---help---
		Enable 16-bit padding to send 16bit I2S data in 32bit word length
endif

config AMEBAD_I2C_DYNTIMEO
	bool "[Amebad I2C]Use dynamic timeouts"
	default n

config AMEBAD_I2C_DYNTIMEO_USECPERBYTE
	int "[Amebad I2C]Timeout Microseconds per Byte"
	default 500
	depends on AMEBAD_I2C_DYNTIMEO

config AMEBAD_I2C_DYNTIMEO_STARTSTOP
	int "[Amebad I2C]Timeout for Start/Stop (Milliseconds)"
	default 1000
	depends on AMEBAD_I2C_DYNTIMEO

config AMEBAD_I2CTIMEOSEC
	int "[Amebad I2C]Timeout seconds"
	default 0
	depends on !AMEBAD_I2C_DYNTIMEO

config AMEBAD_I2CTIMEOMS
	int "[Amebad I2C]Timeout Milliseconds"
	default 500
	depends on !AMEBAD_I2C_DYNTIMEO

config AMEBAD_I2CTIMEOTICKS
	int "[Amebad I2C]Timeout for Done and Stop (ticks)"
	default 500
	depends on !AMEBAD_I2C_DYNTIMEO

config RTL8721D_SPI
	bool "RTL8721D_SPI
	default n

config SPI1_MASTER
	bool "SPI1_MASTER"
	select RTL8721D_SPI
	default y

if RTL8721D_SPI
config CONFIG_SPI_CS
	bool "Multi-slaves CS pins"
	default n

config CONFIG_SPI_EXCHANGE
	bool "Enable SPI EXCHANGE"
	default y

config CONFIG_SPI_CMDDATA
	bool "Enable SPI CMDDATA"
	default y
endif

endmenu

menu "Realtek RTL8721D WIFI Support"

config AMEBAD_WIFI
	bool "Enable Amebad WIFI"
	default n
endmenu
menu "Realtek RTL8721D BLE Support"

config AMEBAD_BLE
	bool "Enable Amebad BLE"
	default n
	select FTL_ENABLED

if AMEBAD_BLE
config FTL_ENABLED
	bool "Enable FTL"
	default n

config BLE_INDICATION
	bool "Enable BLE Indication Blocking Mode"
	default n

config AMEBAD_BLE_DEBUG
	bool "Enable BLE Debug"
	default n

config AMEBAD_BLE_PERIPHERAL
	bool "Enable Amebad BLE Peripheral"
	default n

config AMEBAD_BLE_CENTRAL
	bool "Enable Amebad BLE Central"
	default n

if AMEBAD_BLE_CENTRAL && AMEBAD_BLE_PERIPHERAL
	config AMEBAD_BLE_SCATTERNET
		bool "Enable Amebad BLE Scatternet"
		default n
endif

endif

endmenu

menu "Realtek RTL8721D TrustZone Support"

config AMEBAD_TRUSTZONE
	bool "Enable Amebad TrustZone"
	default n
	select ARMV8M_TRUSTZONE

config AMEBAD_RDP
	bool "Enable Amebad RDP"
	default n
	depends on AMEBAD_TRUSTZONE
	---help---
		Enable RDP Encryption for binary.
		RDP key once written, cannot be reprogrammed.
		Can disable this for testing only TrustZone without writing RDP key.
		However, should be enabled along with TrustZone to provide binary security.
		If unsure, do not enable this.

config AMEBAD_RDP_KEY
	hex "Amebad RDP Key"
	default 0x2473040ab47c48655a15aa431c4bbb8a
	range 00000000000000000000000000000000 ffffffffffffffffffffffffffffffff
	depends on AMEBAD_RDP

endmenu

menu "Realtek RTL8721D CMSIS_NN Support"

config AMEBAD_CMSIS_NN
	bool "Enable Amebad CMSIS_NN"
	default n

endmenu
