#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

comment "AMEBAD Configuration Options"

choice
	prompt "AMEBAD Chip Selection"
	default ARCH_CHIP_RTL8721CSM
	depends on ARCH_CHIP_AMEBAD

config ARCH_CHIP_RTL8721CSM
	bool "RTL8721CSM"
	select ARCH_CORTEXM33
	select ARCH_HAVE_FPU
	select AMEBAD_WIFI
	select ARMV8M_HAVE_ICACHE
	select ARMV8M_HAVE_DCACHE

endchoice

menu "Realtek RTL8721D Peripheral Support"

config RTL8721D_UART
	bool "UART"
	default n

config RTL8721D_UART0
	bool "UART 0"
	default n
	select RTL8721D_UART
	select ARCH_HAVE_UART0
	select ARCH_HAVE_SERIAL_TERMIOS

config RTL8721D_UART1
	bool "UART 1"
	default n
	select RTL8721D_UART
	select ARCH_HAVE_UART1
	select ARCH_HAVE_SERIAL_TERMIOS	

config RTL8721D_UART2
	bool "UART 2"
	default n
	select RTL8721D_UART
	select ARCH_HAVE_UART2
	select ARCH_HAVE_SERIAL_TERMIOS

config RTL8721D_SERIAL_FIFO
	bool "UART SERIAL FIFO"
	default n

endmenu

menu "Realtek RTL8721D WIFI Support"

config AMEBAD_WIFI
	bool "Enable Amebad WIFI"
	default n

endmenu

menu "Realtek RTL8721D TrustZone Support"

config AMEBAD_TRUSTZONE
	bool "Enable Amebad TrustZone"
	default n
	select ARMV8M_TRUSTZONE

config AMEBAD_RDP
	bool "Enable Amebad RDP"
	default n
	depends on AMEBAD_TRUSTZONE
	---help---
		Enable RDP Encryption for binary.
		RDP key once written, cannot be reprogrammed.
		Can disable this for testing only TrustZone without writing RDP key.
		However, should be enabled along with TrustZone to provide binary security.
		If unsure, do not enable this.

config AMEBAD_RDP_KEY
	hex "Amebad RDP Key"
	default 0x2473040ab47c48655a15aa431c4bbb8a
	range 00000000000000000000000000000000 ffffffffffffffffffffffffffffffff
	depends on AMEBAD_RDP

endmenu
