#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_IPERF
	bool "iperf App"
	default n
  depends on NET_LWIP && NETUTILS_JSON && LIBC_FLOATINGPOINT
	---help---
		Enable the \"IPERF App\" example

if EXAMPLES_IPERF

config EXAMPLES_IPERF_PROGNAME
	string "Program name"
	default "iperf"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

endif

config USER_ENTRYPOINT
	string
	default "iperf_main" if ENTRY_IPERF
