#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config WIFI_MANAGER
    bool "Enable Wi-Fi Manager"
    default n
	select DRIVERS_WIRELESS
	select NETUTILS_NETLIB
	select PIPES
    ---help---
        Easy APIs for applications to use and control Wi-Fi features

if WIFI_MANAGER

choice
	prompt "WiFi Driver"
	default SELECT_NO_DRIVER

config SELECT_NO_DRIVER
	bool "Virtual Driver"

config SELECT_SCSC_WLAN
	bool "Enable SCSC Wireless Module"
	select SCSC_WLAN

config SELECT_RTK_WLAN
	bool "Enable RTK Wireless Module"
	select RTK_WLAN

config SELECT_PROPRIETARY_WLAN
	bool "Enable vendor-specific Wireless Module"
endchoice # WiFi driver choice

choice
	prompt "WiFi library"
	default SELECT_PROPRIETARY_SUPPLICANT

config SLSI_WPA_SUPPLICANT
	bool "Enable wpa_supplicant"
	select WPA_SUPPLICANT
	depends on SELECT_SCSC_WLAN
	---help---
		Select the wpa_supplicant

config SELECT_PROPRIETARY_SUPPLICANT
	depends on !SELECT_SCSC_WLAN && !SELECT_NO_DRIVER
	bool "Enable vendor-specific supplicant"
	---help---
		Select the third party supplicant

config SELECT_NO_SUPPLICANT
	depends on SELECT_NO_DRIVER
	bool "Enable virtual supplicant"
	---help---
		Select the virtual set of drivers

endchoice # WiFi supplicant library

if SLSI_WPA_SUPPLICANT
source "$EXTERNALDIR/wpa_supplicant/Kconfig"
endif #SLSI_WPA_SUPPLICANT

config WIFI_MANAGER_SAVE_CONFIG
	bool "Store the Wi-Fi Profile to permanent storage"
	default n

if WIFI_MANAGER_SAVE_CONFIG
config WIFI_PROFILE_SECURESTORAGE
	bool "Store the Wi-Fi Profile in a Secure Storage"
	depends on SECURITY_SS
	default n
	---help---
		if this options is disable then Wi-Fi manager stores information
		to file system which doesn't support encryption

endif # WIFI_MANAGER_SAVE_CONFIG

config WIFIMGR_SOFTAP_IFNAME
	string "Interface name of softap mode"
	default "wl1"

config WIFIMGR_STA_IFNAME
	string "Interface name of station mode"
	default "wl1"

config WIFIMGR_DISABLE_DHCPC
	bool "Disable auto get ip (ipv4 dhcp client)"
	default n

config WIFIMGR_DISABLE_DHCPS
	bool "Disable auto run dhcp server (ipv4 dhcp server)"
	default n
    help
        If say yes,it allows WiFi vendor to run dhcp server. 

config DISABLE_EXTERNAL_AUTOCONNECT
	bool "Disable external autoconnect"
	default n

if DISABLE_EXTERNAL_AUTOCONNECT
config WIFIMGR_INTERNAL_AUTOCONNECT
	bool "Enable internal auto(re)connect"
	default y

endif #WIFIMGR_DISABLE_EXTERNAL_AUTOCONNECT

config WIFI_MANAGER_USE_PRINTF
	bool "Use printf instead of ndbg to sync log output ot app"
	default n

endif #WIFI_MANAGER

