#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config MEM_LEAK_CHECKER
	bool "Memory Leak Checker"
	default n
	depends on DEBUG_MEM_LEAK_CHECKER
	---help---
		Build the user command for Memory Leak Checker. Kernel support is controlled by DEBUG_MEM_LEAK_CHECKER.
