#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TLS_SECLINK
	bool "TLS Loopback Test with SECLINK"
	default n
	depends on NET_SECURITY_TLS

if EXAMPLES_TLS_SECLINK

config EXAMPLES_TLS_SECLINK_PROGNAME
	string "Program name"
	default "tls_seclink"

config TLS_SECLINK_USE_FRT_TIMER
	bool "TLS Test Use FRT Timer"
	default n
	depends on TIMER

if TLS_SECLINK_USE_FRT_TIMER
	
	config TLS_SECLINK_FRT_TIMER_PATH
		string "TLS Test Use FRT Timer"
		default "/dev/timer0"

endif 

config TLS_SECLINK_DEBUG
	bool "TLS Loopback test Log"
	default y

if TLS_SECLINK_DEBUG

config TLS_SECLINK_DEBUG_LEVEL
	int "Log Level (0: None / 5: All)"
	default 0

endif # TLS_SECLINK_DEBUG

endif # EXAMPLES_TLS_SECLINK

config USER_ENTRYPOINT
	string
	default "tls_seclink_main" if ENTRY_TLS_SECLINK
