#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config FS_ROMFS
	bool "ROMFS file system"
	default n
	depends on !DISABLE_MOUNTPOINT
	select FS_READABLE
	---help---
		Enable ROMFS filesystem support
		Arch-dependent fs automount option can be found at "os/arch/arm/src/<board>/Kconfig"
