#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_LIBCOAP_SERVER_TEST
	bool "\"libcoap Server Test\" example"
	default n
	depends on NETUTILS_LIBCOAP
	---help---
		Enable the \"libcoap Server Test\" example
