#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_WAKAAMA_CLIENT
	bool "WAKAAMA_CLIENT"
	default n
	depends on DM

if EXAMPLES_WAKAAMA_CLIENT

config EXAMPLES_WAKAAMA_CLIENT_PROGNAME
	string "Program name"
	default "wakaama_client"
	depends on BUILD_KERNEL

endif

config USER_ENTRYPOINT
	string
	default "wakaamaclient_main" if ENTRY_WAKAAMA_CLIENT
