#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_FOTA_SAMPLE
	bool "FOTA Sample Application"
	default n
	select SYSTEM_FOTA_HAL
	select FOTA_DRIVER
	---help---
		Enable FOTA Sample Application with FOTA HAL.

config USER_ENTRYPOINT
	string
	default "fota_sample" if ENTRY_FOTA_SAMPLE
