#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config NETUTILS_ERCOAP
	bool "CoAP Library (er-coap-13)"
	default n
	depends on NET_IPv4
	---help---
		Enable support for er-coap library.

if NETUTILS_ERCOAP
config NETUTILS_ERCOAP_MAX_ATTEMPTS
	int "Maxmium number of failed request attempts"
	default 4
	depends on EXPERIMENTAL
	---help---
		Maximum number of failed request attempts before action

config NETUTILS_ERCOAP_MAX_HEADER_SIZE
	int "CoAP maximum header size"
	default 67
	---help---
		Default value
		= Hdr(4) + CoT(3) + Age(3) + Tag(1) + Etag(8)
			+ Obs(3) + Tok(1) + Token(8) + Blo(4) + Strings(30)

config NETUTILS_ERCOAP_SERVER_PORT
	int "CoAP server port"
	default 5683
	---help---
		Default port number used for server listening
endif
