#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

source "$FRAMEWORK_DIR/src/app/bundle/Kconfig"

config APP
	bool "Application Framework Support"
	default n
	select EVENTLOOP
	select UI
	select DATA_BUNDLE
	---help---
		Enables overall support for Application Framework.
