#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_MEDIARECORDER
	bool "MediaRecorder example"
	default n
	depends on HAVE_CXX && HAVE_CXXINITIALIZE && MEDIA
	---help---
		Enable the MediaRecorder example

config USER_ENTRYPOINT
	string
	default "mediarecorder_main" if ENTRY_MEDIARECORDER
