#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#


config SYSTEM_PREAPP_INIT
	bool "Preapp Init"
	default y
	---help---
		Enable Preapp Init.

if SYSTEM_PREAPP_INIT 

config SYSTEM_PREAPP_STACKSIZE
	int "pre-app thread stack size"
	default 2048
	---help---
		The size of the stack to allocate for the pre-application thread
		that is started as soon as the OS completes its initialization.

endif
