#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig EXAMPLES_TESTCASE_COMPRESSION
	bool "Compression TestCase Example"
	default n
	---help---
		Enable the Compression TestCase Example

if EXAMPLES_TESTCASE_COMPRESSION

config TC_LZMA
	bool "LZMA Compression/Decompression testcase"
	default n
	select LIBLZMA

config TC_COMPRESS_READ
	bool "Testcase for Compression APIs"
	default n
	select DRIVERS_KERNEL_TEST
	select LIBLZMA
	select COMPRESSED_BINARY

endif
