#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_LWAIFW_SINE_APP_TEST
	bool "LW AIFW Sine Model sample application"
	default n
	depends on LW_AIFW
	---help---
		LW AIFW Sine Model sample application

config USER_ENTRYPOINT
	string
	default "lw_aifw_sine_test_app_main" if ENTRY_LWAIFW_SINE_APP_TEST
