#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt

choice LWNL80211_DRV
	prompt"Driver selelction"
	default LWNL80211_SLSI

config LWNL80211_SLSI
	bool "SLSI driver"
	---help---
		Samsung Artik WiFi driver

config LWNL80211_RTK
	bool "Realtek driver"
	---help---
		Realtek WiFi driver
endchoice

config DEBUG_LWNL80211_ERROR
	bool "LWNL80211 ERROR DEBUG"
	default n
	---help---
		Enable LWNL80211 ERROR DEBUG

config DEBUG_LWNL80211_INFO
	bool "LWNL80211 INFO DEBUG"
	default n
	depends on DEBUG_VERBOSE
	---help---
		Enable LWNL80211 INFO DEBUG

config DEBUG_LWNL80211_VENDOR_DRV_ERROR
	bool "Vendor-specific driver interface ERROR DEBUG"
	default n
	depends on DEBUG_ERROR
	---help---
		Enable Vendor-Specific Driver ERROR Debug

config DEBUG_LWNL80211_VENDOR_DRV_INFO
	bool "Vendor-specific driver interface INFO DEBUG"
	default n
	depends on DEBUG_VERBOSE
	---help---
		Enable Vendor-Specific Driver INFO Debug
