#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config DEV_PIPE_SIZE
	int "Default pipe size"
	default 1024
	---help---
		Sets the default size of the pipe ringbuffer in bytes.  A value of
		zero disables pipe support.

