#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config BATTERY_CHARGER
	bool "Battery Charger support"
	default n

config BATTERY_GAUGE
	bool "Battery Fuel Gauge support"
	default n
