#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_ROUTE_CLIENT
	bool "route client example"
	default n
	depends on GRPC
	depends on HAVE_CXXINITIALIZE
	---help---
		Enable the grpc client example

config USER_ENTRYPOINT
	string
	default "route_client_main" if ENTRY_ROUTE_CLIENT
