#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig LOGM
	bool "Logger Module"
	default y
	---help---
		Logger.

if LOGM

config PRINTF2LOGM
	bool "Route printf through logm"
	default y

config SYSLOG2LOGM
	bool "Route all syslogs through logm"
	default y

config LOGM_BUFFER_SIZE
	int "Logm Buffer size"
	default 10240
	---help---
		Logm buffer size (default : 10KB)
		This value should be sufficient to avoid buffer overflow.
		If buffer overflow happens, some messages would be dropped.

config LOGM_PRINT_INTERVAL
	int "Interval for flusing logm buffer (ms)"
	default 1000
	---help---
		Logm queues messsages for several seconds and then spits out.
		This value decides how frequently buffer is flushed.
		The smaller this value is, the more frequent messages are shown.

config LOGM_TASK_PRIORITY
	int "Logm Task priority"
	default 110

config LOGM_TASK_STACKSIZE
	int "Logm Task stack size"
	default 1024

config LOGM_DEBUG
	bool "Enable to print debug messages regarding logm"
	default n

config LOGM_TEST
	bool "Test code for logger module "
	default n
	---help---
		Test code for logger module

endif # LOGM
