#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menu "Shell"
config TASH
	bool "Enable shell"
	default y
	depends on NFILE_DESCRIPTORS != 0

if TASH
config TASH_MAX_STORE_COMMANDS
	int "Max number of stored TASH commands"
	default 10
	---help---
		The maximum number of stored TASH commands.

config TASH_USLEEP
	bool "Enable 'usleep' command in TASH"
	default n
	depends on !DISABLE_SIGNALS
	---help---
		Enable 'usleep' command in TASH.

config TASH_REBOOT
	bool "Enable 'reboot' command in TASH"
	default n
	depends on BOARDCTL_RESET
	---help---
		Enable 'reboot' command in TASH.

config TASH_COMMAND_INTERFACE
	bool "enable command interface to TASH"
	default n
	---help---
		Enable to use TASH commands APIs

config TASH_CMDTASK_STACKSIZE
	int "TASH task stack size to run command with ASYNC type"
	default 4096 if !SYSTEM_VI
	default 16384 if SYSTEM_VI
	---help---
		The stack size allocated for TASH command task

config TASH_CMDTASK_PRIORITY
	int "TASH task priority to run command with ASYNC type"
	default 100
	---help---
		The priority set for TASH command task

config TASH_SCRIPT
	bool "enable shell script"
	default n
	depends on !DISABLE_ENVIRON
	---help---
		This suppors parsing and executing shell script.
		See "sh" on TASH help command.

config SECURED_TASH
	bool "Enable Secure shell"
	select NET_SECURITY_TLS
	select MBEDTLS_PKCS5_C
	default n

if SECURED_TASH

config TASH_PASSWORD_HASH
	string "PBKDF2 encrypted password (32 Bytes)"
	default "3D9740229177EBE6B11D0371342308881AE1463D1142E9FF932AB180AF4E8BD6"
	---help---
		Enable password to access TASH command line. The password is hashed by PBKDF2 so that
		the length of this config should be 32 bytes (64 characters).
		default : hash value of "tizenrt" (Password : tizenrt)

config TASH_SALT_ENCRYPTED
	string "AES encrypted salt (16 Bytes)"
	default "00112233445566778899AABBCCDDEEFF"
	---help---
		Enable salt value for TASH password encryption. The salt is encrypted by AES128 so that
		the length of this config should be 16 bytes (32 characters).
		default : encrypted value of "00112233445566778899AABBCCDDEEFF"
		Please encrypt this value with AES key and set this value.

config TASH_HASH_ITERATION
	int "Number of PBKDF2 iteration"
	default 777
	---help---
		The number of hash iteration used in PBKDF2.

endif

endif
endmenu
