
menu "Enable Shell"
config TASH
	bool "Enable shell"
	default y

if TASH
config TASH_MAX_COMMANDS
	int "Max number of TASH commands"
	default 32
	---help---
		The maximum number of TASH commands to register.

config DEBUG_TASH
	bool "enable debug messages in TASH"
	default n
	depends on DEBUG
	---help---
		Enable debugging message in TASH.

config TASH_TELNET_INTERFACE
	bool "enable telnet interface to TASH"
	depends on NETUTILS_TELNETD
	default n
	---help---
		Enable TASH commands to be executed in TELNET shell.

config TASH_CMDTASK_STACKSIZE
	int "TASH task stack size to run command with ASYNC type"
	default 4096
	---help---
		The stack size allocated for TASH command task

config TASH_CMDTASK_PRIORITY
	int "TASH task priority to run command with ASYNC type"
	default 100
	---help---
		The priority set for TASH command task

config TASH_PASSWORD
	bool "Enable Secure shell"
	default n

if TASH_PASSWORD
config TASH_PASSWORD_SHA256
	string "SHA256 encrypted password"
	---help---
		Enable password to enter tash shell
endif
endif
endmenu
