#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_XMLRPC
	bool "XML RPC example"
	depends on NETUTILS_XMLRPC
	default n
	---help---
		Enable the XML RPC example

config USER_ENTRYPOINT
	string
	default "xmlrpc_main" if ENTRY_XMLRPC
