#
# For a description of the syntax of this configuration file,
# see kconfig-language at
# https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

comment "T-trace"

config TTRACE
	bool "T-trace support"
	default n
	---help---
		Present T-trace driver, library, TASH commands.
		T-trace can trace and measure times between TPs that
		defined by T-trace API.(trace_begin, trace_end)

if TTRACE
config TTRACE_BUFSIZE
	int "Trace buffer size"
	default 13200
	---help---
		Size of the trace buffer size at kernel.  Default: 13200
config TTRACE_DEVPATH
	string "T-trace device node path"
	default "/dev/ttrace"
endif
