#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

comment "BCM4390x Configuration Options"

# Summary Configurations

# Chip Selection

choice
	prompt "Cypress BCM4390x Chip Selection"
	default ARCH_CHIP_BCM43907

config ARCH_CHIP_BCM43907
	bool "Cypress BCM43907"
	select BCM4390X_BCM43907
	select BOOT_RESULT

config ARCH_CHIP_BCM43909
	bool "Cypress BCM43909"
	select BCM4390X_BCM43909
	select BOOT_RESULT

endchoice # Cypress BCM4390X Chip Selection

# These hidden selections represent automatically selected MCU families and,
# in turn, select general capabilities of the MCU family

config BOOT_RESULT
	bool
	default y

config BCM4390X_BCM43907
	bool
	default n
	select ARCH_CORTEXR4
	select ARMV7R_ICACHE
	select ARMV7R_DCACHE
	select ARCH_HAVE_RESET
	select BCM4390X_HAVE_UART0
	select BCM4390X_HAVE_UART1
	select BCM4390X_HAVE_UART2

config BCM4390X_BOOT_RESULT_ADDR
	hex "boot result address (physical)"
	default 0x6A0000
	depends on BOOT_RESULT

config BCM4390X_BCM43909
	bool
	default n
	select ARCH_CORTEXR4
	select ARMV7R_ICACHE
	select ARMV7R_DCACHE
	select ARC_HAVE_RESET
	select BCM4390X_HAVE_UART0
	select BCM4390X_HAVE_UART1
	select BCM4390X_HAVE_UART2

config ARMCR4_CYCLE_COUNTER_REG
	hex "Cpu clock Register address"
	default 0x18003028

config BCM4390X_USE_EXTMEM
	bool "Use external DDR memory"
	default n
	---help---
		If the board uses external DDR RAM memory, enable this.

config BCM4390X_DVFS
	bool "CPU DVFS Support interface"
	default n
	select ARCH_USE_DVFS
	---help---
		BCM4390x has 7 different frequency, This interface
		helps to switch among them. Say Y here, if you want.


menu "BCM4390x Peripheral Support"

# These "hidden" settings determine peripheral options
# that are available for the selected MCU.

# BCM43907 and BCM43909 are almost identical and
# we have no features different between them for now.

config BCM4390X_HAVE_UART0
        bool
        default n

config BCM4390X_HAVE_UART1
        bool
        default n

config BCM4390X_HAVE_UART2
        bool
        default n

config BCM4390X_UART0
	bool "UART0 (Slow UART)"
	default n
	depends on BCM4390X_HAVE_UART0
	select ARCH_HAVE_UART0
	select ARCH_HAVE_SERIAL_TERMIOS
	---help---
		Enable Slow UART0

config BCM4390X_UART1
	bool "UART1 (Fast UART)"
	default n
	depends on BCM4390X_HAVE_UART1
	select ARCH_HAVE_UART1
	select ARCH_HAVE_SERIAL_TERMIOS
        ---help---
                Enable Fast UART1

config BCM4390X_UART2
	bool "UART2 (GCI UART)"
	default n
	depends on BCM4390X_HAVE_UART2
	select ARCH_HAVE_UART2
	select ARCH_HAVE_SERIAL_TERMIOS
	 ---help---
                Enable GCI UART2

config BCM4390X_I2C
	bool
	depends on BCM4390X_I2C0 || BCM4390X_I2C1
	default n

config BCM4390X_I2C0
	bool "I2C0"
	depends on I2C
	select BCM4390X_I2C
	default n

config BCM4390X_I2C1
	bool "I2C1"
	depends on I2C
	select BCM4390X_I2C
	default n

config BCM4390X_I2S
	bool "I2S"
	select I2S
	select AUDIO
	default n

config BCM4390X_PWM
	bool "PWM"
	depends on PWM
	default n

config BCM4390X_SPI
	bool
	depends on BCM4390X_SPI0 || BCM4390X_SPI1
	default n

config BCM4390X_SPI0
	bool "SPI0"
	depends on SPI
        select BCM4390X_SPI
	default y

config BCM4390X_SPI1
	bool "SPI1"
	depends on SPI
        select BCM4390X_SPI
	default n

config BCM4390X_GPIO
	bool "GPIO"
	depends on GPIO
	default y

config CY4390X_RECFG_PWM_TO_GPIO
	bool "reconfig for pwm gpio"
	depends on BCM4390X_GPIO
	default n

config CY4390X_USE_PWM0_TO_GPIO18
	bool "use pwm0 to gpio18"
	depends on CY4390X_RECFG_PWM_TO_GPIO
	default n

config CY4390X_USE_PWM1_TO_GPIO19
	bool "use pwm1 to gpio19"
	depends on CY4390X_RECFG_PWM_TO_GPIO
	default n

config CY4390X_USE_PWM2_TO_GPIO20
	bool "use pwm2 to gpio20"
	depends on CY4390X_RECFG_PWM_TO_GPIO
	default n

config CY4390X_USE_PWM3_TO_GPIO21
	bool "use pwm3 to gpio21"
	depends on CY4390X_RECFG_PWM_TO_GPIO
	default n

config CY4390X_USE_PWM4_TO_GPIO22
	bool "use pwm4 to gpio22"
	depends on CY4390X_RECFG_PWM_TO_GPIO
	default n

config CY4390X_USE_PWM5_TO_GPIO23
	bool "use pwm5 to gpio23"
	depends on CY4390X_RECFG_PWM_TO_GPIO
	default n

config BCM4390X_GPIO_LOG
	bool "debug log for GPIO"
	depends on DEBUG
	default n

config BCM4390X_GPIO_COUNT
	int "Number of GPIO"
	depends on BCM4390X_GPIO
	default 16

config BCM4390X_SFLASH
	bool "Serial Flash controller"
	default n

config BCM4390X_BOOTLOADER_REGION_SIZE
	int "Bootloader size(KB)"
	depends on BCM4390X_SFLASH
	default 4128

config BCM4390X_WDT
	bool "WATCHDOG"
	select WATCHDOG
	default y

config BCM4390X_WIRELESS
	bool "Wireless"
	default n

config BCM4390X_M2M
	bool "M2M"
	default y

endmenu # BCM4390x Peripheral Support
