#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_WORKQUEUE
	bool "work queue example"
	default n
	depends on SCHED_WORKQUEUE || LIB_USRWORK
	---help---
		Enable the work queue example

if EXAMPLES_WORKQUEUE

config EXAMPLES_WORKQUEUE_PROGNAME
	string "Program name"
	default "workqueue"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program

endif

config USER_ENTRYPOINT
	string
	default "workqueue_main" if ENTRY_WORKQUEUE
