#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_BLINK_LED_WIFI
	bool "blink_led_wifi example"
	default n
	---help---
		Enable blink_led_wifi example

