#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_LOG_DUMP
	bool "Log dump example"
	default n
	depends on LOG_DUMP
	---help---
		Enable the Log dump example

config USER_ENTRYPOINT
	string
	default "log_dump_main" if ENTRY_LOG_DUMP
