#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_OTA
	bool "OTA downloader"
	select NETUTILS_WEBCLIENT
	default n
	---help---
		Enables the ota example.
