#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SMARTFS_POWERCUT
	bool "\"Smartfs Powercut Test\" example"
	default n
	---help---
		Enable the \"Smartfs Powercut Test\" example

config USER_ENTRYPOINT
	string
	default "smartfs_powercut_main" if ENTRY_SMARTFS_POWERCUT
