#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_IOTBUS_TEST
	bool "Iotbus example"
	default n
	---help---
		Enable the Iotbus example example

config USER_ENTRYPOINT
	string
	default "iotbus_test_main" if ENTRY_IOTBUS_TEST
