#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_IOTBUS_TEST
	bool "Iotbus example"
	default n
	---help---
		Enable the Iotbus example example

if EXAMPLES_IOTBUS_TEST
config EXAMPLES_IOTBUS_TEST_RED_LED_GPIO_NUM
	int "GPIO number of RED LED"
	default 45

config EXAMPLES_IOTBUS_TEST_BLUE_LED_GPIO_NUM
	int "GPIO number of BLUE LED"
	default 49

config EXAMPLES_IOTBUS_TEST_LEFT_BUTTON_GPIO_NUM
	int "GPIO number of left button"
	default 42

config EXAMPLES_IOTBUS_TEST_RIGHT_BUTTON_GPIO_NUM
	int "GPIO number of right button"
	default 44
endif

config USER_ENTRYPOINT
	string
	default "iotbus_test_main" if ENTRY_IOTBUS_TEST
