#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_ARAUI_SAMPLE
	bool "AraUI Sample"
	default n
	depends on UI
	---help---
		Enable the AraUI Sample

config USER_ENTRYPOINT
	string
	default "araui_sample_main" if EXAMPLES_ARAUI_SAMPLE
