#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_PROTOBUF_GTEST
	bool "Protocol Buffers gtest"
	default n
	depends on LIBCXX && PROTOBUF && GMOCK
	---help---
		Enable the Protocol Buffers gtest

config USER_ENTRYPOINT
	string
	default "gtest_main" if ENTRY_PROTOBUF_GTEST
