#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EVENTLOOP
	bool "Enable Event Loop Framework"
	default n
	select LIBTUV
	---help---
		Enables Event Loop Framework.

if EVENTLOOP

config EVENTLOOP_DYNAMIC_CB_LIST
	bool "Enable Dynamic Thread-safe Callback List Management"
	default n
	---help---
		Enables dynamic management of thread-safe callback lists using sq_queue_t.
		When disabled, callback lists are managed using static arrays.
		When enabled, callback lists are dynamically allocated for better memory efficiency.
endif
