#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SIMPLE_FILE_TRANSFER
	bool "\"Simple File Transfer\" example"
	default n
	---help---
		Enable the \"Simple File Transfer!\" example

config USER_ENTRYPOINT
	string
	default "sft_main" if ENTRY_SIMPLE_FILE_TRANSFER
