#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config LW_AIFW
	bool "On-Device Lightweight AI Framework"
	default n
	select HAVE_CXX
	select HAVE_CXXINITIALIZE
	select EXTERNAL_TFMICRO
	---help---
		Enables overall support for On-Device AI Framework.

if LW_AIFW

config LW_AIFW_SERVICE_INTERVAL
	int "Collect time interval in milliseconds"
	default 2000
	---help---
		Collect time interval in milliseconds
		
config LW_AIFW_INFERENCE_PERIOD
	int "Inference period per collect time"
	default 1
	---help---
		Inference period per collect time
		For example, if CONFIG_LW_AIFW_SERVICE_INTERVAL is 60000 and
		CONFIG_LW_AIFW_INFERENCE_PERIOD is 5,
		then it will collect sensor data for every 1 minute,
		and inference will be happened for every 5 minutes
		
config LW_AIFW_MAXM_MODEL_COUNT
	int "Maximum number of models supported in LW AIFW"
	default 2
	---help---
		Maximum number of models that LW AIFW can load

config LW_AIFW_MODEL_MEM_POOL_SIZE
	int "Memory size for each model"
	default 4096
	---help---
		Every model need its own memory pool. This value is used for it.

config LW_AIFW_BUFFER_SIZE
	int "Buffer size in number of bytes"
	default 4096
	---help---
		Buffer size in number of bytes

config LW_AIFW_READ_FROM_FS
	bool "Enable reading files from file system"
	default n
	---help---
		Enable reading files from file system

config LW_AIFW_READ_FROM_MANIFEST_FILE
	bool "Application manifest file"
	depends on LW_AIFW_READ_FROM_FS
	default n
	select NETUTILS_JSON
	---help---
		Enables reading manifest file

menu "LW_AIFW Debug Logs"

config LW_AIFW_LOGS
	bool "LW_AIFW Logs"
	default y
	---help---
		Enables LW_AIFW logs

if LW_AIFW_LOGS

config LW_AIFW_LOGE
	bool "LW_AIFW Error Logs"
	default y
	---help---
		Enables LW_AIFW Error Logs

config LW_AIFW_LOGI
	bool "LW_AIFW Information Logs"
	default n
	---help---
		Enables LW_AIFW Information Logs

config LW_AIFW_LOGV
	bool "LW_AIFW Verbose Logs"
	default n
	---help---
		Enables LW_AIFW Verbose Logs

endif #LW_AIFW_LOGS

endmenu

endif
