#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#
config BINARY_UPDATE
	bool "Enable Binary Update"
	default n
	depends on BINARY_MANAGER

