config ENTRY_ARTIK_EXAMPLES
        bool "ARTIK Example"
        depends on EXAMPLES_ARTIK_ADC || EXAMPLES_ARTIK_CLOUD || EXAMPLES_ARTIK_GPIO || EXAMPLES_ARTIK_HTTP || EXAMPLES_ARTIK_MODULE || EXAMPLES_ARTIK_PWM || EXAMPLES_ARTIK_SECURITY || EXAMPLES_ARTIK_WEBSOCKET || EXAMPLES_ARTIK_WIFI || EXAMPLES_ARTIK_ALL_EXAMPLES

