#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_ELF
	bool "ELF Loader Example"
	default n
	select LIBC_EXECFUNCS
	depends on ELF
	---help---
		Enable the ELF Loader Example

if EXAMPLES_ELF

menu "Enable Test Scenarios"
config EXAMPLES_MESSAGING_TEST
	bool "Messaging Framework Test"
	default y
	---help---
		Enable the Messaging Framework Test"

if EXAMPLES_MESSAGING_TEST
config MESSAGING_TEST_REPETITION_NUM
	int
	default 1
	---help---
		Messaging F/W Test repetition number.
		To be updated.

endif

config EXAMPLES_RECOVERY_TEST
	bool "Binary Manager Recovery example"
	default y
	---help---
		Enable the Binary Manager Recovery test

if EXAMPLES_RECOVERY_TEST
config ENABLE_RECOVERY_AGING_TEST
	bool "Recovery Aging test"
	default n
	---help---
		Enable Recovery Aging test. Another Test cannot run at the same time.
endif

endmenu

config EXAMPLES_ELF_FULLYLINKED
	bool "Fully Linked ELF application support"
	default n
	depends on LIB_SYSCALL
	---help---
		Enable Fully Linked ELF application support

config MPU_TEST_KERNEL_CODE_ADDR
	hex "Address in kernel code range"
	default 0x00000000
	---help---
		Test MPU access protection to this kernel code address

config MPU_TEST_APP_ADDR
	hex "Address in differnet application range"
	default 0x00000000
	depends on APP_BINARY_SEPARATION
	---help---
		Test MPU access protection to this application address
endif

config MICOMAPP_INCLUDE_LIB
        bool "Include libraries for micomapp"
        default n
        depends on APP_BINARY_SEPARATION
        ---help---
                Enable the library inclusion for micomapp

if MICOMAPP_INCLUDE_LIB

menu "Enable Libraries for micomapp"
config MICOMAPP_INCLUDE_LIB_C
        bool "Include C library"
        default n
        ---help---
                Include C library for micomapp

config MICOMAPP_INCLUDE_LIB_FRAMEWORK
        bool "Include FrameWork library"
        default n
        ---help---
                Include Framework library for micomapp

config MICOMAPP_INCLUDE_LIB_MM
        bool "Include MM library"
        default n
        ---help---
                Include MM library for micomapp

config MICOMAPP_INCLUDE_LIB_PROXY
        bool "Include Proxies library"
        default n
        ---help---
                Include Proxies library for micomapp
endmenu

endif

config WIFIAPP_INCLUDE_LIB
        bool "Include libraries for wifi app"
        default n
        depends on APP_BINARY_SEPARATION
        ---help---
                Enable the library inclusion for wifiapp

if WIFIAPP_INCLUDE_LIB

menu "Enable Libraries for wifiapp"
config WIFIAPP_INCLUDE_LIB_C
        bool "Include C library"
        default n
        ---help---
                Include C library for wifiapp

config WIFIAPP_INCLUDE_LIB_FRAMEWORK
        bool "Include FrameWork library"
        default n
        ---help---
                Include Framework library for wifiapp

config WIFIAPP_INCLUDE_LIB_MM
        bool "Include MM library"
        default n
        ---help---
                Include MM library for wifiapp

config WIFIAPP_INCLUDE_LIB_PROXY
        bool "Include Proxies library"
        default n
        ---help---
                Include Proxies library for wifiapp
endmenu

endif
