#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SYSTEM_FOTA_HAL
	bool "FOTA HAL Application Library"
	default n
	select FOTA_DRIVER
	select LIB_BOARDCTL
	select BOARDCTL_RESET
	---help---
		Enable FOTA HAL Application Library

if SYSTEM_FOTA_HAL
config SYSTEM_FOTA_DEVNAME
	string "Device name of OTA partition"
	default "/dev/fota"
	---help---
		Specifies the device name of the partition for OTA like "/dev/fota"

config SYSTEM_FOTA_SET_SPECIFIC
	bool "Set binary and partition type"
	default n
	---help---
		Specifies binary and partition type. If they are set automatically,
		let's disable this.
endif
