#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SYSTEM_FOTA_HAL
	bool "FOTA HAL Application Library"
	default n
	select FOTA_DRIVER
	---help---
		Enable FOTA HAL Application Library

