#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SYSTEM_IPERF
	bool "iperf App"
	default n
  	depends on NET_LWIP && NETUTILS_JSON && LIBC_FLOATINGPOINT
	depends on NET_LWIP_NETDB
	---help---
		Enable the \"IPERF App\" example

config IPERF_PRIORITY
	int "iperf Priority"
	default 100
	depends on SYSTEM_IPERF
	---help---
		Priority of iperf app

config IPERF_STACKSIZE
	int "iperf Stack Size"
	default 4096
	depends on SYSTEM_IPERF
	---help---
		Stack size of iperf app

if SYSTEM_IPERF
config SYSTEM_IPERF_PROGNAME
	string "Program name"
	default "iperf"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the TASH ELF
		program is installed.
endif
