#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SYSCALL_PERFORMANCE
	bool "Syscall Performance Example"
	default n
	---help---
		Enable the Syscall Performance Example

config USER_ENTRYPOINT
	string
	default "syscall_performance_main" if ENTRY_SYSCALL_PERFORMANCE
