#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TAHI
	bool "TAHI Self Test App"
	default n
	---help---
		Enable the TAHI Self Test App

config USER_ENTRYPOINT
	string
	default "tahi_main" if ENTRY_TAHI
