#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if NET_IPv6_ND

config NET_IPv6_ND_QUEUEING
	bool "Enable queue outgoing IPv6 packets while MAC address"
	default y
	---help---
		Enable queue outgoing IPv6 packets while MAC address.	


config NET_IPv6_ND_QUEUE
	int "Max number of IPv6 packets to queue during MAC resolution"
	default 20
	---help---
		Max number of IPv6 packets to queue during MAC resolution.	

config NET_IPv6_ND_NUM_NEIGHBORS
	int "Number of entries in IPv6 neighbor cache"
	default 10
	---help---
		Number of entries in IPv6 neighbor cache.	

config NET_IPv6_ND_NUM_DESTINATIONS
	int "Number of entries in IPv6 destination cache"
	default 10
	---help---
		Number of entries in IPv6 destination cache.	

config NET_IPv6_ND_NUM_PREFIXES
	int "Number of entries in IPv6 on-link prefixes cache"
	default 5 
	---help---
		Number of entries in IPv6 on-link prefixes cache.	

config NET_IPv6_ND_NUM_ROUTERS
	int "Number of entries in IPv6 default router cache"
	default 3 
	---help---
		Number of entries in IPv6 default router cache.	

config NET_IPv6_ND_MAX_MULTICAST_SOLICIT
	int "Max number of multicast solicit messages to send"
	default 3 
	---help---
		Max number of multicast solicit messages to send.	

config NET_IPv6_ND_MAX_UNICAST_SOLICIT
	int "Max number of unicast neighbor solicitation messages"
	default 3 
	---help---
		Max number of unicast neighbor solicitation messages
		to send during neighbor reachability detection.

config NET_IPv6_ND_MAX_SOLICIT_INTERVAL
	int "Max interval time of solicit messages to send"
	default 4000
	---help---
		Max interval time of solicit message to send

config NET_IPv6_ND_REACHABLE_TIME
	int "Default neighbor reachable time (in milliseconds)"
	default 30000
	---help---
		Default neighbor reachable time (in milliseconds).
		May be updated by router advertisement messages.

config NET_IPv6_ND_RETRANS_TIMER
	int "Default retransmission timer for solicitation messages"
	default 1000
	---help---
		Default retransmission timer for solicitation messages.

config NET_IPv6_ND_DELAY_FIRST_PROBE_TIME
	int "Delay before first unicast neighbor solicitation"
	default 5000
	---help---
		Delay before first unicast neighbor solicitation
		message is sent, during neighbor reachability detection.
	
config NET_IPv6_ND_ALLOW_RA_UPDATES
	bool "Allow Router Advertisement messages to update"
	default y
	---help---
		Allow Router Advertisement messages to update
		Reachable time and retransmission timers, and netif MTU.

config NET_IPv6_ND_TCP_REACHABILITY_HINTS
	bool "Allow TCP to provide ND with RA hints"
	default y
	---help---
		Allow TCP to provide Neighbor Discovery with reachability
		hints for connected destinations. This helps avoid sending
		unicast neighbor solicitation messages.

config NET_IPv6_ND_RDNSS_MAX_DNS_SERVERS
	int "Use IPv6 Router Advertisement Recursive DNS Server Option"
	default 0
	---help---
		Use IPv6 Router Advertisement Recursive DNS Server Option
		(as per RFC 6106) to copy a defined maximum number of DNS
		servers to the DNS module.


endif
