#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SYSTEM_CPUCONTROL
	bool "CPU Control commands"
	default n
	depends on SMP
	---help---
		Enable support for CPU control commands in TASH. This provides commands
		for managing CPU power management and status functionality on multi-core
		systems. Commands include cpu1on, cpu1off, cpustatus.
