#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TESTCASE_MQTT_ITC
	bool "MQTT ITC TestCase Example"
	depends on NETUTILS_MQTT
	default n
	---help---
		Enable the MQTT TestCase example

if EXAMPLES_TESTCASE_MQTT_ITC

config ITC_MQTT_BROKER_ADDR
	string "MQTT broker IP address for ITC"
	default "127.0.0.1"
	---help---
		MQTT broker's ip address to connect

config ITC_MQTT_BROKER_PORT
	int "MQTT broker port for ITC"
	default 1883
	---help---
		MQTT broker's port to connect

endif
