#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config TESTING_SMP
	bool "SMP example"
	default n
	depends on SMP
	---help---
		Enable the SMP example.

if TESTING_SMP

config TESTING_SMP_NBARRIER_THREADS
	int "Number of barrier threads"
	default 8
	---help---
		Specifies the number of threads to create in the SMP test.  The default
		is 8 but a smaller number may be needed on systems without sufficient memory
		to start so many threads.

config SMP_TEST_PTHREAD
	bool "Test SMP with Pthreads"
	default y
	---help---
		Test smp functionality using pthreads if this is enabled. Else, test the
		smp functionality with tasks.

endif
