#TODO optimize it
menu "Bk_Phy"
	config NON_SIGANL_PHY_ENABLE
		bool "Enable non signal phy"
		default y

	config PHY_LOG_ENABLE
		bool "Enable voltage detect"
		default n

	config RF_FIRMWARE_DYNAMIC_PARTITION
		bool "Enable rf firmware partition dynamic"
		default y

endmenu
