#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SYSTEM_MDIO
	bool "MDIO tool"
	default n
	depends on NETDEV_PHY_IOCTL
	---help---
		Enable the MDIO tool
