#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config IOTBUS
	bool "IoTbus framework Support"
	default y
	---help---
		Enables IoTBus (GPIO, I2C, PWM, SPI, UART, ADC) framework.

if IOTBUS

config IOTBUS_GPIO
	bool "IoTbus GPIO"
	default y
	select GPIO
	---help---
		Enables IoTbus GPIO

config IOTBUS_I2C
	bool "IoTbus I2C"
	default y
	select I2C_USERIO
	depends on I2C
	---help---
		Enables IoTbus I2C

config IOTBUS_PWM
	bool "IoTbus PWM"
	default y
	depends on PWM
	---help---
		Enables IoTbus PWM

config IOTBUS_SPI
	bool "IoTbus SPI"
	default y
	select SPI_USERIO
	depends on SPI
	---help---
		Enables IoTbus SPI

config IOTBUS_UART
	bool "IoTbus UART"
	default y
	depends on SERIAL
	---help---
		Enables IoTbus Uart

config IOTBUS_ADC
	bool "IoTbus ADC"
	default y
	depends on ADC
	---help---
		Enables IoTbus ADC
		
endif
