
if MTD_M25P

menu "SPI-based M25 flash options"

config M25P_SPIMODE
        int "M25P SPI mode"
        default 0

config M25P_MANUFACTURER
        hex "M25P manufacturers ID"
	default 0x20
        ---help---
                Various manufacturers may have produced the parts.  0x20 is the manufacturer ID
                for the STMicro MP25x serial FLASH.  If, for example, you are using the a Macronix
                International MX25 serial FLASH, the correct manufacturer ID would be 0xc2.
                Manufacturers ID for Eon silicon en25f80 flash is 0x1c.

config M25P_MEMORY_TYPE
        hex "M25P memory type ID"
        default 0x20
        ---help---
                The memory type for M25 "P" series is 0x20, but the driver also supports "F" series
                devices, such as the EON EN25F80 part which adds a 4K sector erase capability.  The
                memory type for "F" series parts from EON is 0x31.  The 4K sector erase size will
                automatically be enabled when filesytems that can use it are enabled, such as SMART.

if M25P_MANUFACTURER = 0x1c

config EN25F80_FLASH
        bool "Enable EN25F80 flash driver for mikroequail"
        default y
        ---help---
                Enable EN25F80 (click board) flash driver for mikroequail.

config EN25F80_READONLY
        bool "Enable readonly feature for EN25F80 flash for mikroequail"
        default n
        ---help---
                Enable readonly feature for EN25F80 flash for mikroequail
endif

config M25P_SUBSECTOR_ERASE
        bool "Sub-Sector Erase"
        default n
        ---help---
                Some devices (such as the EON EN25F80) support a smaller erase block
                size (4K vs 64K).  This option enables support for sub-sector erase.
                The SMART file system can take advantage of this option if it is enabled.
endmenu

endif
