#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_LIBCOAP_CLIENT_TEST
	bool "\"libcoap Client Test\" example"
	default n
	depends on NETUTILS_LIBCOAP
	---help---
		Enable the \"libcoap Client Test\" example
