#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SMART_TEST
	bool "SMART filesystem test tool"
	default n
	---help---
		Performs a file-based test on a SMART (or any) filesystem. Validates
		seek, append and seek-with-write operations.  This test can be built
		only as an TASH command

