#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig EXAMPLES_TESTCASE_DM_ITC
  bool "Device Management ITC TestCase Example"
  default n
  depends on DM
  ---help---
    Enable the Device Management ITC TestCase Example

if EXAMPLES_TESTCASE_DM_ITC

config ITC_DM_SERVER_IPADDR
  string "Server IP address"
  default "192.168.0.105"

config ITC_DM_SERVER_PORT
  string "Server Port"
  default "5683"
  
config ITC_DM_START
  bool "Start API"
  default n

config ITC_DM_CLOSE
  bool "Close API"
  default n

config ITC_DM_GET_SERVER_ADDR
  bool "Get Server Addrress API"
  default n
  
config ITC_DM_GET_SERVER_PORT
  bool "Get Server Port API"
  default n

config ITC_DM_GET_CLIENT_LIFETIME
  bool "Get Client lifetime API"
  default n

config ITC_DM_GET_CLIENT_STATE
  bool "Get Client state API"
  default n

config ITC_DM_DISPLAY_CLIENT_RESOURCE
  bool "Display Client Resource API"
  default n

config ITC_DM_CONN_GET_RSSI
  bool "Get Rssi API"
  default n
  
config ITC_DM_CONN_GET_INTERFACE
  bool "Get Interface API"
  default n
  
config ITC_DM_CONN_GET_ADDRESS
  bool "Get Address API"
  default n
  
config ITC_DM_CONN_GET_CHANNEL
  bool "Get Channel API"
  default n
  
config ITC_DM_CONN_GET_TX_POWER
  bool "Get Tx Power API"
  default n
  
config ITC_DM_CONN_SET_TX_POWER
  bool "Set Tx Power API"
  default n
  
config ITC_DM_CONN_REGI_LINKUP
  bool "Register LinkUp Callback API"
  default n

config ITC_DM_CONN_REGI_LINKDOWN
  bool "Register LinkDown Callback API"
  default n
  
config ITC_DM_CONN_UNREGI_LINKUP
  bool "Unregister LinkUp Callback API"
  default n
  
config ITC_DM_CONN_UNREGI_LINKDOWN
  bool "Unregister LinkDown Callback API"
  default n
  
endif #EXAMPLES_TESTCASE_DM

