#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config PREFERENCE
	bool "Enable Preference"
	default n
	depends on FS_SMARTFS
	---help---
		Enables Preference.
