#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_CY4390x_DEMO
	bool "cy4390x demo example"
	default n
	depends on ARCH_BOARD_CY4390x
	---help---
		Enable the cy4390x demo example
