#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_RDP
	bool "Read Protect example"
	default n
	depends on ARMV8M_TRUSTZONE
	select DRIVERS_KERNEL_TEST
	---help---
		Enable the Read Protect example

config USER_ENTRYPOINT
	string
	default "rdp_main" if ENTRY_RDP
