#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_CXXTEST
	bool "C++ test program"
	default n
	depends on HAVE_CXXINITIALIZE
	---help---
		Enable the C++ Test program

config USER_ENTRYPOINT
	string
	default "cxxtest_main" if ENTRY_CXXTEST
