#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config LCD_TUNE
	bool "LCD tuning"
	default n
	depends on LCD
	---help---
		Enable lcd tunning
