#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TTRACE
	bool "T-trace example"
	default n
	depends on TTRACE
	---help---
		Enable the T-trace example

if EXAMPLES_TTRACE

config EXAMPLES_TTRACE_PROGNAME
	string "Program name"
	default "ttrace"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the ttrace
		program is installed.

endif

config USER_ENTRYPOINT
	string
	default "ttrace_main" if ENTRY_TTRACE
