#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig EXAMPLES_TESTCASE_NETWORK
	bool "Network TestCase Example"
	default n
	---help---
		Enable the Network TestCase Example

if EXAMPLES_TESTCASE_NETWORK

config TC_NET_ALL
	bool "All"
	default n
	select TC_NET_SOCKET
	select TC_NET_SETSOCKOPT
	select TC_NET_CONNECT
	select TC_NET_CLOSE
	select TC_NET_BIND
	select TC_NET_LISTEN
	select TC_NET_GETSOCKNAME
	select TC_NET_GETSOCKOPT
	select TC_NET_FCNTL
	select TC_NET_IOCTL
	select TC_NET_ACCEPT
	select TC_NET_SEND
	select TC_NET_RECV
	select TC_NET_GETPEERNAME
	select TC_NET_SENDTO
	select TC_NET_RECVFROM
	select TC_NET_SHUTDOWN
	select TC_NETDEV_CARRIER
	select TC_NET_DECISEC_TIME
	select TC_NET_CORE
	select TC_NETBUF_ALLOC
	select TC_MEM_ALLOC
	select TC_NET_API
	select TC_NET_DHCPC
	select TC_NET_SELECT
	select TC_NET_INET
	select TC_NET_ETHER
	select TC_NET_NETDB

config TC_NET_SOCKET
	bool "socket() api"
	default n

config TC_NET_SETSOCKOPT
	bool "setsockopt() api"
	default n

config TC_NET_CONNECT
	bool "connect() api"
	default n

config TC_NET_CLOSE
	bool "close() api"
	default n

config TC_NET_BIND
	bool "bind() api"
	default n

config TC_NET_LISTEN
	bool "listen() api"
	default n

config TC_NET_GETSOCKNAME
	bool "getsockname() api"
	default n

config TC_NET_GETSOCKOPT
	bool "getsockopt() api"
	default n

config TC_NET_FCNTL
	bool "fcntl() api"
	default n

config TC_NET_IOCTL
	bool "ioctl() api"
	default n

config TC_NET_ACCEPT
	bool "accept() api"
	default n

config TC_NET_SEND
	bool "send() api"
	default n

config TC_NET_RECV
	bool "recv() api"
	default n

config TC_NET_GETPEERNAME
	bool "getpeername() api"
	default n

config TC_NET_SENDTO
	bool "sendto() api"
	default n

config TC_NET_RECVFROM
	bool "recvfrom() api"
	default n

config TC_NET_SHUTDOWN
	bool "shutdown() api"
	default n

config TC_NET_DHCPC
	bool "dhcpc() api"
	default n

config TC_NET_INET
	bool "inet() api"
	default n

config TC_NET_ETHER
	bool "ether() api"
	default n

config TC_NET_NETDB
	bool "netdb() api"
	default n

config TC_NET_API
	bool "api() api"
	default n

config TC_NET_CORE
	bool "core() api"
	default n

config TC_NETBUF_ALLOC
	bool "netbuf() api"
	default n

config TC_MEM_ALLOC
	bool "mem() api"
	default n

endif #EXAMPLES_TESTCASE_NETWORK
