#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SYSTEM_NETDB
	bool "netdb interface"
	default n
	depends on NET_LWIP_NETDB

if SYSTEM_NETDB

config SYSTEM_NETDB_STACKSIZE
	int "netdb task stack size"
	default 2048

config SYSTEM_NETDB_PRIORITY
	int "netdb task priority"
	default 100

endif
