#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_WEBCLIENT
	bool "Webclient example"
	depends on NETUTILS_WEBCLIENT
	default n
	---help---
		Enable the TinyAra Webclient example

config USER_ENTRYPOINT
	string
	default "webclient_main" if ENTRY_WEBCLIENT
