#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#
config BUILTIN_APPS
	bool "Support builtin applications"
	default y
	---help---
		If this configuration is enabled (is set to y), enabled applications are registered
		at TASH automatically.

