#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TESTCASE_MEDIA_ITC
	bool "Media ITC TestCase Example"
	default n
	depends on HAVE_CXXINITIALIZE && LIBCXX && MEDIA
	---help---
		Enable the Media F/W TestCase example
