#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_RSSI_REPORT
	bool "Sample App for reporting RSSI to server"
	default n
	---help---
		Enable the network test API's

config USER_ENTRYPOINT
	string
	default "rreport_main" if ENTRY_RSSI_REPORT
