#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_WIFIMANAGER_TEST
	bool "Wi-Fi Manager Sample"
	default n
	depends on WIFI_MANAGER
	depends on NET_LWIP_DHCP
	select STRESS_TOOL
	---help---
		Wi-Fi Manager sample program

config USER_ENTRYPOINT
	string
	default "wm_test_main" if ENTRY_WIFIMANAGER_TEST


if EXAMPLES_WIFIMANAGER_TEST
config WIFIMANAGER_TEST_TRIAL
	int "Number of test trial"
	default 5
	---help---
		Number of test trial

config EXAMPLES_WIFIMANAGER_AP_LIST_ITEMS_COUNT
        int "Number of APs in input file"
        default 10
        ---help---
                Number of APs in input file

endif #if EXAMPLES_WIFIMANAGER_TEST
