#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_MESSAGING_SAMPLE
	bool "Messaging Framework sample"
	default n
	depends on MESSAGING_IPC
	---help---
		Enable the Messaging Framework sample

config USER_ENTRYPOINT
	string
	default "messaging_main" if ENTRY_MESSAGING_SAMPLE
