#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config DM
	bool "DM"
	default n
	depends on NET
	select NET_LWIP_NETDB
	select LWM2M_WAKAAMA
	---help---
		enable the DM functionality

if DM
menuconfig DM_WIFI
	bool "Set Up Wifi Info For DM Demo"
	default y
	---help---
		Enable the artik demo example

if DM_WIFI

config DM_AP_SSID
	string "wifi ap ssid"
	default "SSID"

config DM_AP_PASS
	string "wifi ap password"
	default "PASSWORD"

config DM_AP_SECURITY
	string "wifi join security"
	default "wpa2_aes"

endif #DM_WIFI

endif
