#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_LWM2M_TEST
	bool "lwm2m test application"
	default n
	depends on !DM
	depends on LWM2M_CLIENT_MODE || LWM2M_SERVER_MODE

if EXAMPLES_LWM2M_TEST

choice
	prompt "lwm2m modes"

config EXAMPLES_LWM2M_CLIENT
	bool "lwm2m client mode"
	depends on LWM2M_CLIENT_MODE

config EXAMPLES_LWM2M_SERVER
	bool "lwm2m server mode"
	depends on LWM2M_SERVER_MODE

endchoice

endif # EXAMPLE_LWM2M_CLIENT

config USER_ENTRYPOINT
	string
	default "lwm2m_client_main" if ENTRY_LWM2M_CLIENT

config USER_ENTRYPOINT
	string
	default "lwm2m_server_main" if ENTRY_LWM2M_SERVER
