#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#


config CRASHLOG_WRITER
	bool "enable crashlog writer"
	default n
    depends on BINMGR_RECOVERY
	---help---
        This saves the crash log.

if CRASHLOG_WRITER

config CLWR_COMPRESS
    bool "CRASHLOG_COMPRESS"
    default y
    ---help---
        Controls whether compression is applied.
        if the value is 0 compression is not performed.


config CLWR_BUF_SIZE
    int "CRASHLOG_BUF_SIZE"
    default 8192
    ---help---
        Determines the size of the buffer where crash logs will be stored.
        The crash log is stored in the data section.
        
config CLWR_REBOOT
    bool "REBOOT_AFTER_SAVING_LOG"
    default n
    ---help---
        Determines whether to reboot after saving the crash log.

config CLWR_MAX_FILES
    int "MAX_FILES"
    default 5
    ---help---
        Determine the maximum number of crash log files to be stored.

config CLWR_RETRY_COUNT
    int "CRASHLOG_RETRY_COUNT"
    default 5
    depends on !REBOOT_AFTER_LOG_SAVE
    ---help---
        Limit the number of crash log saves in user mode during consecutive crashes to preserve flash memory lifespan.

config CLWR_RECORD_TIME
    bool "CRASHLOG_RECORD_TIME"
    default n
    ---help---
        Measure and record the time it takes to save the crash log to a file.

endif # CRASHLOG_SAVE

