#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_DNSCLIENT_TEST
	bool "\"DNS Client Test\" example"
	default n
	depends on NET_LWIP_NETDB
	---help---
		Enable the \"DNS Client Test\" example

if EXAMPLES_DNSCLIENT_TEST

config EXAMPLES_DNSCLIENT_TEST_PROGNAME
	string "Program name"
	default "dnsclient"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.
endif

config USER_ENTRYPOINT
	string
	default "dnsclient_main" if ENTRY_DNSCLIENT_TEST
