#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_DNSCLIENT_TEST
	bool "\"DNS Client Test\" example"
	default n
	depends on NETDB_DNSCLIENT
	---help---
		Enable the \"DNS Client Test\" example

if EXAMPLES_DNSCLIENT_TEST

config EXAMPLES_DNSCLIENT_TEST_SERVER_PORT
	int "DNS server port number"
	default 53
	depends on NETDB_DNSSERVER_IPv4
	---help---
		This is the port number of DNS server.

endif

config USER_ENTRYPOINT
	string
	default "dnsclient_main" if ENTRY_DNSCLIENT_TEST
