menu "PWR_CLK"
	config EXTERN_32K
		bool "Use an external 32k crystal"
		default n
	config MEM_AUTO_POWER_DISABLE
		bool "mem auto power disable"
		default n
	config CP1_AUTO_POWER_DISABLE
		bool "cp1 auto power disable"
		default n
	config CPU_DEFAULT_FREQ_60M
		bool "set cpu default frequency 60M"
		default n
	config RESERVE_1K_SRAM_UNINITIAL
		bool "reserve 1k sram uninitialized"
		default n
	config LPO_SRC_26M32K
		bool "32k use the 26m divide"
		default n
	config BUCK_ENABLE
		bool "buck enable"
		default n
	config BUCK_ANALOG_DISABLE
		depends on BUCK_ENABLE
		bool "buck disable analog"
		default n
	config BAKP_POWER_DOMAIN_DISABLE
		 bool "bakp power domain disable"
		default n
	config BAKP_POWER_DOMAIN_PM_CONTROL
		 bool "used for PM control of bakp domain power on and off"
		default n
	config AHBP_POWER_DOMAIN_LV_DISABLE
		 bool "ahbp power domain disable"
		default n
	config PSRAM_POWER_DOMAIN_LV_DISABLE
		 bool "psram power domain disable"
		default n
	config DCO_CLK_ENABLE
		bool "Enable dco clk"
		default n
	config EXTERN_32K_PIN_MULT
		 bool "extern32k pin multiplexing"
		default n
	config CLI_CODE_SIZE_OPTIMIZE_ENABLE
		 bool "cli command code size optimize"
		default n
	config VBSPBUFLP1V_ENABLE
		 bool "enable vbspbuflp1v"
	config LV_FLASH_ENTER_LP_ENABLE
		 bool "flash enter low power mode when enter low voltage"
		default n
	config SMP_CPU1_DISABLE
		 bool "not enalbe the cpu1 when using the SMP"
		default n
	config LPO_MP_A_FORCE_USE_EXT32K
		 bool "MP_A force use the external 32k"
		default n
	config ROSC_CALIB_SW
		 bool "enable calibrate rc32k by software"
		default n
	config ROSC_COMPENSATION
		 bool "enable rosc compensation for rtc tick"
		default n
	config LP_VOL
		hex "Set Low power voltage value"
		default 0x6
		help
			Set Low power voltage default value 0.6v(0.45+0.025*6)
			This value should not be configured arbitrarily. Prior discussion with the chip vendor's support engineers is required before configuration
	config DIGLDO_LOW_VOLTAGE_ENABLE
		 bool "enable dig ldo low voltage "
		default y
	config AUTO_DETECT_32K_SOURCE
		 bool "auto detect 32k source"
		default n
	config CLK_FORCE_MAX_CPU_FREQ_320M
		 bool "force max cpu frequency 320M"
		default n
	config PM_26M_STABILITY_DELAY_TIME_HARDWARE
		 int "26M CRYSTAL HARDWARE STABILITY DELAY TIME"
		default 1300
		help
			config the 26M crystal hardware stability time
	config PHY_PWD
		bool "Enable Phy power down in lv sleep, used for bk7236n,bk7239n,bk7236q"
		default n
	config MAC_PWD
		bool "Enable Mac power down in lv sleep, used for bk7236n,bk7239n,bk7236q"
		default n
	config WRLS_PWD
		bool "Enable wrls power down in lv sleep, used for bk7259"
		default n
	config SOFT_CTRL_VOLT
		bool "Reduce vdddig by software in lv sleep"
		default n
	config KEEP_VDDDIG_VOLT_IN_LV
		bool "vdddig voltage in lv keep as active"
		default n
	config NORMAL_SLEEP_ULTRA_LOW_POWER
		bool "ultra low power of normal sleep"
		default n
	config MAC_USE_RTC
		bool "mac use rtc during lv sleep"
		default n        
endmenu

