#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_MEMORY_FRAGMENTATION_TEST
	bool "Example to intentionally fragment the heap memory"
	default n
	---help---
		Intentionally allocate/free small and large memory segments in a mixed-up manner.
		'heapinfo' with the config 'DEBUG_CHECK_FRAGMENTATION' shows how the heap is fragmented.

config USER_ENTRYPOINT
	string
	default "memfrag_main" if ENTRY_MEMORY_FRAGMENTATION_TEST
