menu "TFM Mbedtls"
	config MBEDTLS_ACCELERATOR
		bool "Enable mbedtls accelerator"
		default n

	config TE200_TEST
		bool "Enable TE200 test"
		default n

	config TE200_ENTROPY
		bool "Enable TE200 entropy"
		default n

endmenu
