#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config NETUTILS_MQTT
	bool "MQTT"
	default n
	depends on NET_LWIP_NETDB
	---help---
		Enable support for MQTT. MQTT provides a lightweight method of
		carrying out messaging using a publish/subscribe model. This makes
		it suitable for "Internet of Things" messaging such as with low power
		sensors or mobile devices such as phones, embedded computers. You can
                get more information about MQTT at https://mosquitto.org/.

if NETUTILS_MQTT

config NETUTILS_MQTT_SECURITY
        bool "MQTT with security"
        default n
	depends on NET_SECURITY_TLS
	---help---
		Enable support for security mode in MQTT.
		MQTT security mode will work with mbedTLS library.
		If you want to change Certificate of Key file or change
                configurations of security, Please reference mqtt examples.

endif # NETUTILS_MQTT

