#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_NANOPB_SIMPLE
	bool "Nanopb simple example"
	depends on NANOPB
	default n
	---help---
		Enable the Nanopb simple example

config USER_ENTRYPOINT
	string
	default "hello_main" if ENTRY_NANOPB_SIMPLE
