#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config BT_CAPI
	bool "Enable Bluetooth CAPI"
	default y
	depends on BLUETOOTH
	---help---
		Enable Bluetooth CAPI
