#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if NET_ARP

config NET_ARP_TABLESIZE
	int "ARP table size"
	default 10
	---help---
		Number of active MAC-IP address pairs cached

config NET_ARP_QUEUEING
	bool "ARP queueing"
	default y
	---help---
		Multiple outgoing packets are queued during hardware address resolution.

config NET_ETHARP_TRUST_IP_MAC
	bool "ARP trust IP mac"
	default y
	---help---
		Incoming IP packets cause the ARP table to be updated with
		the source MAC and IP addresses supplied in the packet.

config NET_ETH_PAD_SIZE
	int "Number of ethernet padding bytes"
	default 0
	---help---
		Number of bytes added before the ethernet header to ensure
		alignment of payload after that header. Since the header is 14 bytes long,
		without this padding e.g. addresses in the IP header will not be aligned
		on a 32-bit boundary, so setting this to 2 can speed up 32-bit-platforms.

config NET_ARP_STATIC_ENTRIES
	bool "Support ARP static entries"
	default n
	---help---
		Enable code to support static ARP table
		entries (using etharp_add_static_entry/etharp_remove_static_entry).

endif #NET_ARP
