#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#
config EXAMPLES_MBEDTLS_SELF_TEST
	bool "Security MbedTLS Self Test"
	depends on NET_SECURITY_TLS
	default n

if EXAMPLES_MBEDTLS_SELF_TEST

config EXAMPLES_MBEDTLS_SELF_TEST_PROGNAME
	string "Program name"
	default "MbedTLS selftest"
	depends on BUILD_KERNEL

endif # EXAMPLES_MBEDTLS_SELF_TEST

config USER_ENTRYPOINT
	string
	default "mbedtls_self_main" if ENTRY_MBEDTLS_SELF_TEST
