/.config
/.config.old
/.version
/Make.defs
/setenv.sh
/setenv.bat
/_SAVED_APPS_config
/*.map
/*.elf
/*.srec
/*.bin
/*.ihx
/*.hex
/pcode
/tags
/tinyara
/tinyara_NO_XIP
/tinyara_memstats.txt
/.appSpec
/.bininfo
/dutils_output_*.txt
