#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_PROTOBUF
	bool "Protocol Buffers example"
	default n
	depends on PROTOBUF
	depends on HAVE_CXXINITIALIZE
	---help---
		Enable the Protocol Buffers example

config USER_ENTRYPOINT
	string
	default "addressbook_main" if ENTRY_PROTOBUF
