#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TESTCASE_WIFI_MANAGER_ITC
	bool "Wi-Fi Manager ITC TestCase Example"
	select WIFI_MANAGER
	default n
	---help---
		Enable the Wi-Fi Manager TestCase Example

if EXAMPLES_TESTCASE_WIFI_MANAGER_ITC
comment "Specify your AP which you want to connect to"

config EXAMPLES_TESTCASE_WIFI_MANAGER_ITC_SSID
	string "SSID of AP"
	default "NULL"
	---help---
		Select SSID of AP which you want to connect to

config EXAMPLES_TESTCASE_WIFI_MANAGER_ITC_PASSPHRASE
	string "Passphrase of AP"
	default "NULL"
	---help---
		Passphrase of AP which you want to connect to

config EXAMPLES_TESTCASE_WIFI_MANAGER_ITC_AUTHENTICATION
	int "Authentication type"
	default 0
	---help---
		0 : Open
		1 : WEP Shared
		2 : WPA PSK
		3 : WPA2 PSK
		4 : WPA and WPA2 PSK
		5 : Unknown

config EXAMPLES_TESTCASE_WIFI_MANAGER_ITC_CRYPTO
	int "Encryption type"
	default 0
	---help---
		0 : None
		1 : WEP 64 bits
		2 : WEP 128 bits
		3 : AES
		4 : TKIP
		5 : TIKP and AES
		6 : Unknown

comment "Specify SoftAP which is used for easy-setup" 

config EXAMPLES_TESTCASE_WIFI_MANAGER_ITC_SOFTAP_SSID
	string "SSID of SoftAP"
	default "PKES"
	---help---
		Name SSID of SoftAP

config EXAMPLES_TESTCASE_WIFI_MANAGER_ITC_SOFTAP_CHANNEL
	int "Channel of SoftAP"
	default 1
	---help---
		Select the channel number of SoftAP

config EXAMPLES_TESTCASE_WIFI_MANAGER_ITC_SOFTAP_PASSPHRASE
	string "Passphrase of SoftAP"
	default "1111122222"
	---help---
		Passphrase of SoftAP

endif #EXAMPLES_TESTCASE_WIFI_MANAGER_ITC
