#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_DM_WIFI_TEST
	bool "DM WIFI example"
	depends on DM
	depends on NETUTILS_WIFI
	default n
	---help---
		Enable the WIFI APIs example. This application features a set
		of DM API calls to start WiFi, connect to an Access Point,
		perform DHCP, as well as channel scanning.

config USER_ENTRYPOINT
	string
	default "wifi_test_main" if ENTRY_DM_WIFI_TEST
