#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_MEDIASTREAMER
	bool "MediaStreamer example"
	default n
	depends on HAVE_CXX && HAVE_CXXINITIALIZE && MEDIA && MEDIA_PLAYER && MEDIA_RECORDER
	select WIFI_MANAGER
	---help---
		Enable the MediaStreamer example

if EXAMPLES_MEDIASTREAMER
comment "Specify your AP which you want to connect to"

config EXAMPLES_MEDIASTREAMER_SSID
	string "SSID of AP"
	default "NULL"
	---help---
		Select SSID of AP which you want to connect to

config EXAMPLES_MEDIASTREAMER_PASSPHRASE
	string "Passphrase of AP"
	default "NULL"
	---help---
		Passphrase of AP which you want to connect to

config EXAMPLES_MEDIASTREAMER_AUTHENTICATION
	int "Authentication type"
	default 0
	---help---
		0 : Open
		1 : WEP Shared
		2 : WPA PSK
		3 : WPA2 PSK
		4 : WPA and WPA2 PSK
		5 : Unknown

config EXAMPLES_MEDIASTREAMER_CRYPTO
	int "Encryption type"
	default 0
	---help---
		0 : None
		1 : WEP 64 bits
		2 : WEP 128 bits
		3 : AES
		4 : TKIP
		5 : TIKP and AES
		6 : Unknown

endif # EXAMPLES_MEDIASTREAMER

config USER_ENTRYPOINT
	string
	default "mediastreamer_main" if ENTRY_MEDIASTREAMER
