#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_ERR_REPORT
	bool "Error Report Test"
	depends on ERROR_REPORT
	default n
	---help---
		Enable Error Report test

if EXAMPLES_ERR_REPORT

config EXAMPLES_ERR_REPORT_PROGNAME
	string "Program name"
	default "Error Report"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the TASH ELF
		program is installed.

endif

config USER_ENTRYPOINT
	string
	default "error_report_main" if ENTRY_ERR_REPORT
