#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TIMER
	bool "Timer Example"
	default n
	depends on TIMER
	---help---
		This application is an example program that opens /dev/timer0
		to set the timer and registers the callback which is called at
		the end of the timer.

if EXAMPLES_TIMER
config EXAMPLES_TIMER_FRT_MEASUREMENT
	bool "FRT Measurement"
	default y
	---help---
		If this config is enabled, elapsed time before and after the timer event
		is measured by Free Run Timer.
endif
