menu "AON_PMU"
	config AON_PMU
		bool "Enable AON_PMU"
		default n

	config AON_PMU_TEST
		depends on AON_PMU && DRIVER_TEST
		bool "Enable Aon Pmu Test"
		default n

	config AON_PMU_REG0_REFACTOR_DEV
		bool "For aon pmu reg0 refactor"
		default n

	config AON_PMU_POR_TIMING_SUPPORT
		bool "Por power failure timing"
		default n

endmenu

