#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_MDNS_TEST
	bool "\"Multicast DNS Test\" example"
	default n
	depends on NETUTILS_MDNS
	---help---
		Enable the \"Multicast DNS Test\" example

config USER_ENTRYPOINT
	string
	default "mdns_main" if ENTRY_MDNS_TEST
