#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_IOTIVITY
	bool "Enable building IoTivity Samples"
	default n
	depends on ENABLE_IOTIVITY
	---help---
		Enable building IoTivity Samples
if EXAMPLES_IOTIVITY
choice
	prompt "IoTivity Examples"
	default EXAMPLES_IOTIVITY_CTT_LIGHT

config EXAMPLES_IOTIVITY_SIMPLESERVER
	bool "simpleServer"
	---help---
	"build in simpleServer application"

if ENABLE_IOTIVITY_SECURED
config EXAMPLES_IOTIVITY_SECURESERVER
	bool "secureServer"
	---help---
	"build in secureServer application"
endif

if ENABLE_IOTIVITY_CLOUD
config EXAMPLES_IOTIVITY_CLOUDSERVER
	bool "cloudServer"
	---help---
	"build in cloudServer application"
endif

endchoice
endif #EXAMPLES_IOTIVITY
