#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TESTCASE_ARASTORAGE_ITC
	bool "Arastorage ITC TestCase Example"
	select ARASTORAGE
	default n
	---help---
		Enable the Arastorage TestCase example
