#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SELECT_TEST
	bool "select_test"
	default n
	---help---
		Enable select test

if EXAMPLES_SELECT_TEST

config EXAMPLES_SELECT_TEST_PROGNAME
	string "Program name"
	default "select_test"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the TASH ELF
		program is installed.

endif

config USER_ENTRYPOINT
	string
	default "select_test_main" if ENTRY_SELECT_TEST
