#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config TASK_MONITOR
	bool "Enable Task Monitor"
	default n
	depends on LIB_BOARDCTL
	depends on BOARDCTL_RESET
	---help---
		This is kernel thread which monitor the tasks/pthreads.
		It checks if registered tasks/pthreads are alive.

if TASK_MONITOR

config TASK_MONITOR_PRIORITY
	int "Priority of Task Monitor"
	default 200
	---help---
		Set the Task Monitor priority.

config TASK_MONITOR_INTERVAL
	int "Interval for checking alive(sec)"
	default 5
	---help---
		Task Monitor checks the registered tasks/pthreads active status
		every this interval. If TASK_MONITOR_INTERVAL set by 5, Interval
		value can use as 5, 10, 15 .... and TASK_MONITOR_MAX_INTERVAL.

config TASK_MONITOR_MAX_INTERVAL
	int "Max interval for checking alive(sec)"
	default 20
	---help---
		It is maximum interval for task check and should be set to 
		a multiple of TASK_MONITOR_INTERVAL. If it is not a multiple
		of TASK_MONITOR_INTERVAL, it is set to the previous multiple.
		ex) If TASK_MONITOR_INTERVAL set by 5 and TASK_MONITOR_MAX_INTERVAL
		set by 17, Interval value can use as 5, 10 and 15.
		
endif # TASK_MONITOR
