#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig EXAMPLES_ARTIK_DEMO
	bool "Artik API Demo Example"
	depends on DM
	default n
	---help---
		Enable the artik demo example

if EXAMPLES_ARTIK_DEMO

config AP_SSID
	string "wifi ap ssid"
	default "SSID"

config AP_PASS
	string "wifi ap password"
	default "PASSWORD"

config AP_SECURITY
	string "wifi join security"
	default "wpa2_aes"

config ARTIK_CLOUD_BEARER
	string "Artik Cloud User"
	default ""

config ARTIK_CLOUD_DID
	string "Artik Cloud Device id"
	default ""

endif #EXAMPLES_ARTIK_DEMO

config USER_ENTRYPOINT
	string
	default "artik_demo_main" if ENTRY_ARTIK_DEMO
