#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig EXAMPLES_TESTCASE
	bool "TestCase Example"
	default n
	---help---
		Enable the TestCase Example

if EXAMPLES_TESTCASE
config DISABLE_MANUAL_TESTCASE
	bool "Disable Manual Testcase"
	default n

source "$APPSDIR/examples/testcase/le_tc/drivers/Kconfig"
source "$APPSDIR/examples/testcase/le_tc/filesystem/Kconfig"
source "$APPSDIR/examples/testcase/le_tc/kernel/Kconfig"
source "$APPSDIR/examples/testcase/le_tc/network/Kconfig"
source "$APPSDIR/examples/testcase/le_tc/ttrace/Kconfig"
source "$APPSDIR/examples/testcase/le_tc/tcp_tls/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/arastorage/utc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/arastorage/itc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/audio/utc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/audio/itc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/device_management/utc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/device_management/itc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/mqtt/utc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/mqtt/itc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/media/utc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/media/itc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/systemio/utc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/systemio/itc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/task_manager/utc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/task_manager/itc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/eventloop/utc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/wifi_manager/utc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/wifi_manager/itc/Kconfig"
source "$APPSDIR/examples/testcase/ta_tc/security/utc/Kconfig"
source "$EXTERNALDIR/libcxx-test/Kconfig"
endif #EXAMPLES_TESTCASE

config USER_ENTRYPOINT
	string
	default "tc_main" if ENTRY_TESTCASE
