#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_PROTOBUF_MSGTYPE_TEST
	bool "Protocol Buffers Serialize/Deserialize Tests"
	default n
	depends on PROTOBUF
	depends on HAVE_CXX
	---help---
		Test the Protocol Buffers Serialize/Deserialize by Type

config USER_ENTRYPOINT
	string
	default "prototest_main" if ENTRY_PROTOBUF_MSGTYPE_TEST
