#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_WIFIMANAGER_TEST
	bool "Wi-Fi Manager Sample"
	default n
	depends on WIFI_MANAGER
	---help---
		Wi-Fi Manager sample program

config USER_ENTRYPOINT
	string
	default "wm_test_main" if ENTRY_WIFIMANAGER_TEST


if EXAMPLES_WIFIMANAGER_TEST
config EXAMPLES_WIFIMANAGER_STRESS_TOOL
	bool "Enable Sterss Tool for WiFi Manager"
	default n
	depends on STRESS_TOOL

if EXAMPLES_WIFIMANAGER_STRESS_TOOL
config WIFIMANAGER_TEST_TRIAL
	int "Number of test trial"
	default 5
	---help---
		Number of test trial

endif #if EXAMPLES_WIFIMANAGER_STRESS_TOOL
endif #if EXAMPLES_WIFIMANAGER_TEST
