#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SLSIWIFI
	bool "S.LSI WIFI Control application"
	default n
	depends on NETUTILS_WIFI
	---help---
		Enable the Samsung LSI WiFi Control Application

if EXAMPLES_SLSIWIFI

config EXAMPLES_SLSIWIFI_PRIORITY
	int "wifi app task priority"
	default 50

config EXAMPLES_SLSIWIFI_STACKSIZE
	int "wifi app stack size"
	default 2048

endif
