#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_DTLS_SERVER
	bool "DTLS server application"
	default n
	depends on NET_SECURITY_TLS

if EXAMPLES_DTLS_SERVER

config EXAMPLES_DTLS_SERVER_PROGNAME
	string "Program name"
	default "dtls_server"
	depends on BUILD_KERNEL

endif # EXAMPLE_DTLS_SERVER

config USER_ENTRYPOINT
	string
	default "dtls_server_main" if ENTRY_DTLS_SERVER
