#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_FTPD
	bool "FTP server example"
	depends on NETUTILS_FTPD
	default n
	---help---
		Enable the FTP server example

config USER_ENTRYPOINT
	string
	default "ftpd_main" if ENTRY_FTPD
