#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if ARCH_BOARD_RTL8730E

config FLASH_VSTART
    hex
    default 0x8000000
    help
        A start virtual address of flash (in hex).
        This is fixed value, so user doesn't need to change it.
	Keep this value same as FLASH_START_ADDR.

config FLASH_START_ADDR
    hex
    default 0x8000000
    help
        A start address of flash (in hex).
        This is fixed value, so user doesn't need to change it.

config TRPK_CONTAINS_MULTIPLE_BINARY
    bool
    default n
    depends on XIP_ELF
    help
        This macro is to differentiate whether the kernel trpk contains
        more than 1 binary. If yes, we have to recalculate the offset
        according to the binary that is running on Tizen Lite, to make
        sure the loadable_apps for XIP_ELF is placed to the correct
        virtual flash address (ie. Only Loadable_apps with running on
        XIP is needed, because the core has to know where to execute
        from the correct remapped address)
        This macro is not needed for flat configs, due to the kernel 
        binaries remapping will be handled by the bootloader.

config FLASH_VSTART_LOADABLE
    hex
    default 0xe000000
    depends on XIP_ELF
    help
        A start virtual address of flash (in hex). This macro
        will be used to do address remapping for loadable running on XIP.
        This is fixed value, so user doesn't need to change it.

choice
    prompt "Board Flash Size"
    default BOARD_FLASH_16M

config BOARD_FLASH_8M
    bool "8 Mbyte"
    help
        Board with flash 8Mbyte size

config BOARD_FLASH_16M
    bool "16 Mbyte"
    help
        Board with flash 16Mbyte size

endchoice

config RTL8730E_BOARD_REVISION
	int "Select target board revision"
	default 0
	---help---
		Select the board revision.
		The pins of the peripherals may differ depending on this

config FLASH_SIZE
    int
    default 8388608 if BOARD_FLASH_8M
    default 16777216 if BOARD_FLASH_16M
    help
        A size of flash (in bytes).
        This is fixed value, so user doesn't need to change it.

menu "SPI Flash driver"

config AMEBASMART_FLASH_BASE
    hex "Start address for user filesystem"
    default 0x180000
    help
        Setting this vaule to configure flash start address for user filesystem,
        such as smartfs, romfs.

config AMEBASMART_FLASH_CAPACITY
    hex
    default 0x800000 if BOARD_FLASH_8M
    default 0x1000000 if BOARD_FLASH_16M
    help
        Setting this vaule to configure flash size  for user filesystem,
        such as smartfs, romfs.

config AMEBASMART_FLASH_PAGE_SIZE
    int "Read/write unit size of SPI flash"
    default 256
    help
        Setting this vaule to configure read/write unit size of esp32 SPI flash.

config AMEBASMART_FLASH_BLOCK_SIZE
    int "Erase unit size of SPI flash"
    default 4096
    help
        Setting this vaule to configure erase unit size of esp32 SPI flash.

config AMEBASMART_SECURE_WORLD_ADDRESS
     hex "Secure address to read/write"
     default 0x70383020
     help
         Setting this value to a secure address to check whether it can be accessed from non-secure zone.

endmenu
endif

