#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TESTCASE_EVENTLOOP_UTC
	bool "Eventloop UTC TestCase Example"
	default n
	depends on EVENTLOOP
	---help---
		Enable the Eventloop TestCase
