#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

comment "Basic CXX Support"

config C99_BOOL8
	bool "sizeof(_Bool) is 8-bits"
	default n
	---help---
		This setting means (1) your C++ compiler has sizeof(_Bool) == 8, (2)
		your C compiler supports the C99 _Bool intrinsic type, and (2) that
		the C99 _Bool type also has size 1.

config HAVE_CXX
	bool "Have C++ compiler"
	default n
	---help---
		Toolchain supports C++ and CXX, CXXFLAGS, and COMPILEXX have been
		defined in the configurations Make.defs file.

if HAVE_CXX

choice CXX_VERSION
	prompt "c++version"
	default CXX_VERSION_11

config CXX_VERSION_11
	bool "c++11"

config CXX_VERSION_14
	bool "c++14"

config CXX_VERSION_17
	bool "c++17"

endchoice

config CXX_NEWLONG
	bool "size_t is type long"
	default n
	---help---
		size_t may be type long or type int.  This matters for some
		C++ library routines because the TinyAra size_t might not have
		the same underlying type as your toolchain's size_t.


comment "LLVM C++ Library (libcxx)"

config LIBCXX
	bool "Build LLVM libcxx"
	default n
	---help---
		LLVM libc++ can be built by selecting this option.

if LIBCXX

config LIBCXX_EXCEPTION
	bool "Enable Exception Suppport"
	default y

config LIBCXX_IOSTREAM_BUFSIZE
	int "IO Stream Buffer Size"
	default 32

config LIBCXX_HAVE_LIBSUPCXX
	bool "Have libsupc++ (required)"
	default y
	---help---
		Select if your toolchain provides libsupc++.  This option is required
		at present because the built-in libsupc++ support is incomplete.

endif

endif
