#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SENSOR_PPD42NS
	bool "Shinyei PPD42NS Dust Sensor"
	default n
	select GPIO
	---help---
		Enable driver support for the Shinyei PPD42NS Dust Sensor

if SENSOR_PPD42NS
config SENSOR_PPD42NS_GPIO_NUM
	int "PPD42NS GPIO Pin Number"
	default 58
	---help---
		the pin number of GPIO that is connected to PPD42NS's Dust Signal Pin

config SENSOR_PPD42NS_DEBUG
	bool "PPD42NS driver debug message"
	default n
	---help---
		enable PPD42ns dust sensor driver's debug message

endif # SENSOR_PPD42NS
