#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig PM
	bool "Power management (PM) driver interfaces"
	default n
	---help---
		Power management (PM) driver interfaces.  These interfaces are used
		to manage power usage of a platform by monitoring driver activity
		and by placing drivers into reduce power usage modes when the
		drivers are not active.

if PM

menuconfig PM_METRICS
	bool "Power management (PM) metrics"
	default n
	---help---
		Power management's metrics

config PM_SLICEMS
	int "PM time slice (msec)"
	default 100
	---help---
		The power management module collects activity counts in time slices.
		At the end of the time slice, the count accumulated during that
		interval is applied to an averaging algorithm to determine the
		activity level.

		CONFIG_PM_SLICEMS provides the duration of that time slice in
		milliseconds.  Default: 100 Milliseconds

config PM_NDOMAINS
	int "Number of PM activity domains"
	default 32
	---help---
		Defines the number of "domains" that activity may be monitored on.
		For example, you may want to separately manage the power from the
		Network domain, shutting down the network when it is not be used,
		from the UI domain, shutting down the UI when it is not in use.

config PM_DVFS
	bool "Dynamic Voltage Frequency Scaling"
	default n
	depends on ARCH_HAVE_DVFS
	---help---
		Enables option to use DVFS to save power with AI_Dual chipset.

config PM_TICKSUPPRESS
	bool "Support PM Tick Suppression"
	default n
	select SCHED_TICKSUPPRESS
	depends on !SCHED_TICKLESS && ARCH_HAVE_TICKSUPPRESS
	---help---
		Periodic tick interrupts can be suppressed to keep the CPU idle for a longer period
		of time. Tick suppression requires that missed ticks while the core is in an idle state
		be compensated for when the core becomes active. To enable this configuration to
		suppress ticks, the pm_wake() API must be called when the core wakes up.

if PM_TICKSUPPRESS

config PM_TIMEDWAKEUP
	bool "Support PM Timed Wake-up"
	default n
	select SCHED_WAKEUPSOURCE
	---help---

if PM_TIMEDWAKEUP

config PM_MIN_SLEEP_TIME
	int "PM MIN SLEEP enter time"
	default 0
	---help---
		This value is the minimum duration of system sleep. System should not go to sleep
		if the app request it to sleep below this value. Because then it might not be very
		power efficient. 
		Also Note that, this value is in millisecond.

endif # PM_TIMEDWAKEUP
endif # PM_TICKSUPPRESS

config PM_DOMAIN_NAME_SIZE
	int "PM_DOMAIN_NAME_SIZE enter size"
	default 32
	---help---
		This value represents maxinmum domain string size. The domain string should be less than
		this size.

endif # PM

