#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig PM
	bool "Power management (PM) driver interfaces"
	default n
	depends on SCHED_WORKQUEUE
	depends on ARCH_USE_PM
	---help---
		Power management (PM) driver interfaces.  These interfaces are used
		to manage power usage of a platform by monitoring driver activity
		and by placing drivers into reduce power usage modes when the
		drivers are not active.

if PM

config PM_TEST
	bool "Power Management Functionality Test"
	default n

config PM_DEVNAME_LEN
	int "Registered device name length"
	default 32

menuconfig PM_METRICS
	bool "Power management (PM) metrics"
	default n
	---help---
		Power management's metrics for CONFIG_PM_METRICS_DURATION

if PM_METRICS

config PM_METRICS_DURATION
	int "History Duration (secs)"
	default 60


endif

comment "PM Options"

config PM_NSTATE
	int "Number of SoC sleep states"
	default ""
	---help---
		Number of sleep states provided by the SoC Power module

if PM_NSTATE != 0
config PM_STATE_SWITCH_THRESH
	string "PM STATE count threshold"
	default ""
	---help---
		Enter values in the form: value_1,value_2,

		State changes occur when the activity accumulator count crosses
		threshold values for certain periods of time (time slice count).

		CONFIG_PM_STATE_SWITCH_THRESH is the time slice count for entering state xxx.

		Resuming to normal state, on the other hand, is usually immediate and
		controlled by wakeup conditions established by the platform.
		Hence no threshold is required for normal state.

		Default IDLE slices in multiples of 10 to enter subsequent idle modes from normal

config PM_STATE_ENTER_THRESH
	string "PM STATE enter threshold"
	default ""
	---help---
		Enter values in the form: value_1,value_2,

		State changes then occur when the activity accumulator count crosses
		threshold values for certain periods of time (time slice count).

		CONFIG_PM_STATE_ENTER_THRESH is the threshold value for entering any sleep state.

		Resuming to normal state, on the other hand, is usually immediate and
		controlled by wakeup conditions established by the platform.  The PM

		Default: <=1: Essentially no activity

config PM_STATE_EXIT_THRESH
	string "PM STATE exit threshold"
	default ""
	---help---
		Enter values in the form: value_1,value_2,

		State changes then occur when the activity accumulator count crosses
		threshold values for certain periods of time (time slice count).

		CONFIG_PM_STATE_EXIT_THRESH is the threshold value for exiting any sleep state.

		Resuming to normal state, on the other hand, is usually immediate and
		controlled by wakeup conditions established by the platform.  The PM
endif

config PM_SLICEMS
	int "PM time slice (msec)"
	default 100
	---help---
		The power management module collects activity counts in time slices.
		At the end of the time slice, the count accumulated during that
		interval is applied to an averaging algorithm to determine the
		activity level.

		CONFIG_PM_SLICEMS provides the duration of that time slice in
		milliseconds.  Default: 100 Milliseconds

config PM_NDOMAINS
	int "Number of PM activity domains"
	default 1
	---help---
		Defines the number of "domains" that activity may be monitored on.
		For example, you may want to separately manage the power from the
		Network domain, shutting down the network when it is not be used,
		from the UI domain, shutting down the UI when it is not in use.

config PM_MEMORY
	int "PM memory (msec)"
	default 2
	range 1 6
	---help---
		The averaging algorithm is simply: Y = (An*X + SUM(Ai*Yi))/SUM(Aj),
		where i = 1..n-1 and j= 1..n, n is the length of the "memory",
		Ai is the weight applied to each value, and X is the current
		activity.  These weights may be negative and a limited to the
		range of int16_t.

			CONFIG_PM_MEMORY provides the memory for the algorithm.  Default: 2
			CONFIG_PM_COEFn provides weight for each sample.  Default: 1

		Setting CONFIG_PM_MEMORY=1 disables all smoothing.

config PM_COEFN
	int "PM coefficient"
	default 1
	---help---
		See help associated with CONFIG_PM_MEMORY.

config PM_COEF1
	int "PM coefficient 1"
	default 1
	---help---
		See help associated with CONFIG_PM_MEMORY.

config PM_COEF2
	int "PM coefficient 2"
	default 1
	---help---
		See help associated with CONFIG_PM_MEMORY

		Ignored if CONFIG_PM_MEMORY <= 2

config PM_COEF3
	int "PM coefficient 3"
	default 1
	---help---
		See help associated with CONFIG_PM_MEMORY

		 Ignored if CONFIG_PM_MEMORY <= 3

config PM_COEF4
	int "PM coefficient 4"
	default 1
	---help---
		See help associated with CONFIG_PM_MEMORY

		Ignored if CONFIG_PM_MEMORY <= 4

config PM_COEF5
	int "PM coefficient 5"
	default 1
	---help---
		See help associated with CONFIG_PM_MEMORY

		Ignored if CONFIG_PM_MEMORY <= 5

endif # PM
