#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_MEDIAPLAYER
	bool "MediaPlayer example"
	default n
	depends on HAVE_CXX && HAVE_CXXINITIALIZE && MEDIA
	---help---
		Enable the MediaPlayer example

config USER_ENTRYPOINT
	string
	default "mediaplayer_main" if ENTRY_MEDIAPLAYER
