#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_EASYSETUP
	bool "Easysetup example"
	depends on NETUTILS_WEBSERVER
	depends on NETUTILS_JSON
	depends on NETUTILS_WIFI
	default n

if EXAMPLES_EASYSETUP

config EXAMPLES_EASYSETUP_PROGNAME
	string "Program name"
	default "easetup example"
	depends on BUILD_KERNEL

endif # EXAMPLES_EASYSETUP
