#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config NETUTILS_WEBSERVER
	bool "TinyAra Webserver"
	default n
	---help---
		Enable TinyAra Webserver.

if NETUTILS_WEBSERVER
config NETUTILS_WEBSERVER_MULTICLIENT
	bool "Support Multi-clients connection"
	default y
	---help---
		Support Multi-clients connection

config NETUTILS_WEBSERVER_LOGD
	bool "Allow HTTP_LOGD definition"
	default n
	---help---
		Allow HTTP_LOGD definition

config NETUTILS_WEBSERVER_LOGE
	bool "Allow HTTP_LOGE definition"
	default n
	---help---
		Allow HTTP_LOGE definition
endif
