#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if ARCH_BOARD_LM3S6965EK

choice
	bool "Build for qemu hardware"
	default QEMU_NONE

config QEMU_SRAM
	bool "Build for SRAM increased QEMU Hardware"
	---help---
		Build for SRAM increased QEMU Hardware.

config QEMU_SDRAM
	bool "Build for SDRAM(External RAM) enabled QEMU Hardware"
	---help---
		Build for SDRAM(External RAM) enabled QEMU Hardware.

config QEMU_NONE
	bool "NONE"
	---help---
		Dont build for Qemu Hardware.
endchoice
endif
