#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SYSTEM_POWEROFF
	bool "Power-Off command"
	default n
	depends on BOARDCTL_POWEROFF
	---help---
		Enable support for the TASH poweroff command.  NOTE: This option
		provides the TASH power-off command only.  It requires board-specific
		support to actually implement the power-off.

