#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_BT_UNIT_TEST
	bool "Enable bt_unit_test"
	default n
	depends on BLUETOOTH
	---help---
		Enable bt_unit_test

config USER_ENTRYPOINT
	string
	default "bt_unit_test_main" if ENTRY_BT_UNIT_TEST
