#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SPEECH_DETECTOR_TEST
	bool "\"Speech Detector Test\" Application"
	default n
	---help---
		Enable the \"Speech Detector Test\" Application

config USER_ENTRYPOINT
	string
	default "speech_detector_test_main" if ENTRY_SPEECH_DETECTOR_TEST
