#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_BLE_RMC
	bool "BLE remote controller example"
	default n
	depends on BLE_MANAGER
	---help---
		Enable BLE remote controller
