#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config NET_ICMP_TTL
	int "ICMP TTL"
	default 255
	---help---
		Default value for Time-To-Live used by ICMP packets.

config NET_BROADCAST_PING
	bool "ICMP respond broadcast pings"
	default n
	---help---
		Respond to broadcast pings (default is unicast only)

config NET_MULTICAST_PING4
	bool "ICMP respond multicast pings"
	default n
	---help---
		Respond to multicast pings (default is unicast only)

