menu "LWIP Mailbox Configurations"

config NET_TCPIP_MBOX_SIZE
	int "LWIP Task Mailbox Size"
	default 0
	---help---
		The mailbox size for the tcpip thread messages.
		The queue size value itself is platform-dependent,
		but is passed to sys_mbox_new() when tcpip_init is called.

config NET_DEFAULT_ACCEPTMBOX_SIZE
	int "Default Accept Mailbox Size"
	default 0
	depends on NET_TCP
	---help---
		The mailbox size for the incoming connections.
		The queue size value itself is platform-dependent,
		but is passed to sys_mbox_new() when the acceptmbox is created.

config NET_DEFAULT_RAW_RECVMBOX_SIZE
	int "Default Raw Socket Receive Mailbox Size"
	default 0
	depends on NET_RAW
	---help---
		The mailbox size for the incoming packets on a NETCONN_RAW.
		The queue size value itself is platform-dependent,
		but is passed to sys_mbox_new() when the recvmbox is created.

config NET_DEFAULT_TCP_RECVMBOX_SIZE
	int "Default TCP Receive Mailbox Size"
	default 0
	depends on NET_TCP
	---help---
		The mailbox size for the incoming packets on a NETCONN_TCP.
		The queue size value itself is platform-dependent,
		but is passed to sys_mbox_new() when the recvmbox is created.

config NET_DEFAULT_UDP_RECVMBOX_SIZE
	int "Default UDP Receive Mailbox Size"
	default 0
	depends on NET_UDP
	---help---
		The mailbox size for the incoming packets on a NETCONN_UDP.
		The queue size value itself is platform-dependent,
		ut is passed to sys_mbox_new() when the recvmbox is created.


endmenu #"LWIP Mail Box Configurations"
