#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#
config EXAMPLES_SECURITY_SEE_TEST
	bool "Security SEE API Test"
	depends on TLS_WITH_HW_ACCEL
	default n

if EXAMPLES_SECURITY_SEE_TEST

config EXAMPLES_SECURITY_SEE_TEST_PROGNAME
	string "Program name"
	default "Security SEE API selftest"
	depends on BUILD_KERNEL

endif # EXAMPLES_SECURITY_SEE_TEST

config USER_ENTRYPOINT
	string
	default "see_test_main" if ENTRY_SECURITY_SEE_TEST
