#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_RTOCFTEST
	bool "\"RT-OCF sample\" example"
	default y
	depends on ENABLE_RT_OCF
	---help---
		Enable building a RT-OCF sample

if EXAMPLES_RTOCFTEST

config EXAMPLES_RTOCFTEST_PROGNAME
	string "Program name"
	default "rt_ocf_test"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

endif

config USER_ENTRYPOINT
	string
	default "rt_ocf_test_main" if ENTRY_RTOCFTEST
