config HW_RNG
	bool "HW RNG"
	default n
	---help---
		Supports true random generator by hardware
		Maximum random size is 256 bytes at one time.

config HW_RSA_ENC
	bool "HW rsa encryption"
	default n
	---help---
		Encrypts a data based on hardware.
		Supporting key size : 1024, 2048
