#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SSTORAGE
	bool "Secure Storage example"
	default n
	depends on SE_AMEBA
	---help---
		Enable the Secure Storage example

config USER_ENTRYPOINT
	string
	default "sstorage" if ENTRY_SSTORAGE
