#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TESTCASE_BLE_MANAGER_UTC
	bool "BLE Manager UTC TestCase Example"
	select BLE_MANAGER
	default n
	---help---
		Enable the BLE Manager TestCase Example
