#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config IOTDEV
	bool "Support IoT Device"
	default n
	---help---
		Handle events from peripheral devices
