#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config BLE_CENTRAL_CONN_NUM
	int "BLE Central Connection"
	default 3
	---help---
		Set the Maximum number of BLE Central Connection

config BLE_PERIPHERAL_CONN_NUM
	int "BLE Peripheral Connection"
	default 1
	---help---
		Set the Maximum number of BLE Peripheral Connection

config BLE_MAX_BONDED_DEVICE
	int "BLE Max Bonded Device"
	default 5
	---help---
		Set the Maximum number of BLE Bond Data

config BLE_SCAN_MAX_WHITELIST
	int "BLE Max White List"
	default 10
	---help---
		Set the Maximum number of BLE White List

config BLE_SCAN_MAX_TIMEOUT
	int "BLE Scan Timeout in sec"
	default 300
	---help---
		Set the timeout of BLE Scan in seconds
