#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_BLE_PERFS
	bool "BLE performance server"
	default n
	depends on BLE_MANAGER
	---help---
		Enable BLE Performance Server
