#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

comment "AMEBASMART Configuration Options"

choice
	prompt "AMEBASMART Chip Selection"
	default ARCH_CHIP_RTL8730E
	depends on ARCH_CHIP_AMEBASMART

config ARCH_CHIP_RTL8730E
	bool "RTL8730E"
	select ARCH_CORTEXA32
	select ARCH_HAVE_MULTICPU
	select ARMV7A_HAVE_GICv2
	select ARCH_HAVE_FPU
	select AMEBASMART_WIFI

endchoice

menu "Realtek RTL8730E Peripheral Support"

config RTL8730E_UART
	bool "UART"
	default n

config RTL8730E_UART0
	bool "UART 0"
	default n
	select RTL8730E_UART
	select ARCH_HAVE_UART0
	select ARCH_HAVE_SERIAL_TERMIOS

config RTL8730E_UART1
	bool "UART 1"
	default n
	select RTL8730E_UART
	select ARCH_HAVE_UART1
	select ARCH_HAVE_SERIAL_TERMIOS

config RTL8730E_UART2
	bool "UART 2"
	default n
	select RTL8730E_UART
	select ARCH_HAVE_UART2
	select ARCH_HAVE_SERIAL_TERMIOS

config RTL8730E_UART3
	bool "UART 3"
	default n
	select RTL8730E_UART
	select ARCH_HAVE_UART3
	select ARCH_HAVE_SERIAL_TERMIOS

config RTL8730E_UART4
	bool "UART 4"
	default n
	select RTL8730E_UART
	select ARCH_HAVE_UART4
	select ARCH_HAVE_SERIAL_TERMIOS
	select SERIAL_CONSOLE

config RTL8730E_SERIAL_FIFO
	bool "UART SERIAL FIFO"
	default n

config AMEBASMART_SPI
	bool "AMEBASMART_SPI"
	default n
	
if AMEBASMART_SPI
config AMEBASMART_SPI0
	bool "SPI0"
	default n
config AMEBASMART_SPI1
	bool "SPI1"
	default n

config AMEBASMART_SPI_EXCHANGE
	bool "Enable AMEBASMART SPI EXCHANGE"
	default y
config AMEBASMART_SPI_DMA
	bool "SPI DMA"
	default n
	---help---
		Use DMA to improve SPI transfer performance.  Cannot be used with CONFIG_AMEBASMART_SPI_INTERRUPT.
endif


config AMEBASMART_MIPI
	bool "AMEBASMART_MIPI"
	default n
	
config AMEBASMART_I2C
	bool "AMEBASMART_I2C"
	default n

if AMEBASMART_I2C

config AMEBASMART_I2C0
	bool "I2C_0"
	default n
config AMEBASMART_I2C1
	bool "I2C_1"
	default n
config AMEBASMART_I2C2
	bool "I2C_2"
	default n

config AMEBASMART_I2C_DYNTIMEO
	bool "[AMEBASMART I2C]Use dynamic timeouts"
	default n
if AMEBASMART_I2C_DYNTIMEO
config AMEBASMART_I2C_DYNTIMEO_USECPERBYTE
	int "[AMEBASMART I2C]Timeout Microseconds per Byte"
	default 500
	depends on AMEBASMART_I2C_DYNTIMEO

config AMEBASMART_I2C_DYNTIMEO_STARTSTOP
	int "[AMEBASMART I2C]Timeout for Start/Stop (Milliseconds)"
	default 1000
	depends on AMEBASMART_I2C_DYNTIMEO
endif
config AMEBASMART_I2CTIMEOSEC
	int "[AMEBASMART I2C]Timeout seconds"
	default 0
	depends on !AMEBASMART_I2C_DYNTIMEO

config AMEBASMART_I2CTIMEOMS
	int "[AMEBASMART I2C]Timeout Milliseconds"
	default 500
	depends on !AMEBASMART_I2C_DYNTIMEO

config AMEBASMART_I2CTIMEOTICKS
	int "[AMEBASMART I2C]Timeout for Done and Stop (ticks)"
	default 500
	depends on !AMEBASMART_I2C_DYNTIMEO
endif

config AMEBASMART_I2S
	bool "Amebasmart I2S"
	default n

if AMEBASMART_I2S
config AMEBASMART_I2S2
	bool "I2S_2"
	default n
config AMEBASMART_I2S3
	bool "I2S_3"
	default n

config AMEBASMART_I2S_RX
	bool "Enable I2S RX"
	default n

config AMEBASMART_I2S_TX
	bool "Enable I2S TX"
	default n
endif
endmenu

menu "Realtek RTL8730E WIFI Support"

config AMEBASMART_WIFI
	bool "Enable Amebasmart WIFI"
	default n

endmenu

menu "Realtek RTL8730E BLE Support"

config AMEBASMART_BLE
	bool "Enable Amebasmart BLE"
	default n
	select AMEBASMART_FTL

if AMEBASMART_BLE
config AMEBASMART_FTL
	bool "Enable FTL"
	default n

config AMEBASMART_BLE_DEBUG
	bool "Enable BLE Debug"
	default n

config AMEBASMART_BLE_PERIPHERAL
	bool "Enable Amebasmart BLE Peripheral"
	default n

config AMEBASMART_BLE_CENTRAL
	bool "Enable Amebasmart BLE Central"
	default n

if AMEBASMART_BLE_CENTRAL && AMEBASMART_BLE_PERIPHERAL
	config AMEBASMART_BLE_SCATTERNET
		bool "Enable Amebasmart BLE Scatternet"
		default n
endif

endif

endmenu

menu "Realtek RTL8730E TrustZone Support"

config AMEBASMART_TRUSTZONE
	bool "Enable Amebasmart TrustZone"
	default n

endmenu
