#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config TASK_MANAGER
	bool "Enable Task Manager"
	default n
	select SCHED_ATEXIT
	select SCHED_WORKQUEUE if !BUILD_PROTECTED
	select LIB_USRWORK if BUILD_PROTECTED
	depends on !DISABLE_SIGNALS && !DISABLE_MQUEUE && TASK_NAME_SIZE != 0
	---help---
		Enables Task Manager.

if TASK_MANAGER

config TASK_MANAGER_MAX_TASKS
	int "Task Manager Max Task Num"
	default MAX_TASKS
	---help---
		Task Manager can register this number of tasks.
		Maximum MAX_TASKS tasks can be alive at the same time although it is greater than MAX_TASKS.

config TASK_MANAGER_MAX_MSG
	int "Task Manager Max Msg number"
	default MAX_TASKS
	---help---
		Task Manager can receive under this value.

config TASK_MANAGER_USER_SPECIFIC_BROADCAST
	bool "Enable User Specific Broadcast Message"
	default n
	---help---
		User defined broadcast messages are enabled to use at the Task Manager.

config TASK_MANAGER_UNICAST_REPLY_TIMEOUT
	int "Task Manager Unicast Reply Timeout(sec)"
	default 0
	---help---
		If timeout argument in task_manager_unicast is TM_RESPONSE_WAIT_INF, 
		Task Manager will wait for reply during this seconds.
		But if this config is zero, Task Manager will wait forever until receiving reply.

endif
