#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_POWER
	bool "Power Daemon"
	default n
	depends on PM
	---help---
		This application is an example program that can be
		later used as fully capable power daemon.
		Currently, it can control pm attributes of /proc/power/domains/0

config USER_ENTRYPOINT
	string
	default "power_main" if ENTRY_POWER
