#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_POWER
	bool "Power Management Test"
	default n
	depends on PM && PM_TICKSUPPRESS
	---help---
		This application is testing chipset enter power-saving mode and wake-up
		and locking enter power-saving mode apis

config USER_ENTRYPOINT
	string
	default "power_main" if ENTRY_POWER

if EXAMPLES_POWER

config EXAMPLES_POWER_TIMEDWAKEUP
	bool "power management timer wakeup source test"
	default y
	depends on PM_TIMEDWAKEUP
	---help---
		The EXAMPLES_POWER_TIMEDWAKEUP test power management timer wakeup source.

endif #EXAMPLES_POWER
