#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_MQTT_TEST
	bool "\"MQTT Test\" example"
	default n
	depends on NETUTILS_MQTT
	---help---
		Enable the \"MQTT Test\" example

