#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SE
	bool "Enable embedded SE"
	select TLS_WITH_HW_ACCEL
	select SECURITY_LINK_DRV

if SE
#
# Debug options
#
config DEBUG_SECURE_ELEMENT_ERROR
	bool "Secure element debug ERROR"
	default n
	depends on DEBUG_ERROR
	---help---
		Enable Secure Element ERROR Debug

config DEBUG_SECURE_ELEMENT_INFO
	bool "Secure element debug INFO"
	default n
	depends on DEBUG_VERBOSE
	---help---
		Enable Secure Element INFO Debug

choice
	prompt "SE selection"
	default SE_SSS

config SE_SSS
	bool "Samsung SSS"
	---help---
		Samsung SE chip

config SE_KONAI
	bool "KONAI"
	---help---
		KONAI SE chip

config SE_VIRTUAL
	bool "Virtual SE chip"
	---help---
		Enable Virtual SE chip for testing

config SE_AMEBA
	bool "Ameba Software SE"
	---help---
		Enable Ameba Software SE
endchoice

#
# Below configurations shows availabilities that the SE supports
# Those features let mbedtls know what features it supports
# Each vendors of SE should select features that it supports from below list
#
# config HW_RNG
# config HW_DH_PARAM
# config HW_ECDH_PARAM
# config HW_RSA_VERIFICATION
# config HW_ECDSA_VERIFICATION
# config HW_RSA_ENC
# config HW_SE_STORAGE

if SE_SSS
source se/sss/Kconfig
endif

if SE_KONAI
source se/konai/Kconfig
endif

if SE_VIRTUAL
source se/virtual/Kconfig
endif

if SE_AMEBA
source se/ameba/Kconfig
endif

endif

#
# Config for setting security_level
#
config SECURITY_LEVEL
	bool "Enable setting security level"
	default y
	---help---
		Setting security level high or low.
