#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config UART_HW_TEST
	bool "UART HW test application"
	default n
	select SYSTEM_IPERF
	---help---
		Enable UART HW test application
