#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config APP_TM
	bool "\"tm\" Application"
	default n
	---help---
		Enable the \"tm\" Application

config USER_ENTRYPOINT
	string
	default "tm_main" if ENTRY_TM
