#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SYSTEM_PM_METRICS
	bool "PM Metrics Tool"
	default y
	depends on PM_METRICS && PM_TICKSUPPRESS
	---help---
		Monitor PM suspend and sleep to display PM Metrics.
