#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config VIDEO_FB
	bool "Framebuffer character driver"
	default n

config FB_SYNC
	bool "Hardware signals vertical sync"
	depends on VIDEO_FB
	default n

config FB_OVERLAY
	bool "Framebuffer overlay support"
	depends on VIDEO_FB
	default n

config FB_OVERLAY_BLIT
	bool "Framebuffer overlay blit support"
	depends on FB_OVERLAY
	default n

config VIDEO_SOURCE
	bool "Driver for Video Source"
	default n

config VIDEO_NULL
	bool "Driver for Dummy Video lowerhalf"
	depends on VIDEO_SOURCE
	default n

if VIDEO_NULL

	comment "Select from the following supported options"

choice
	prompt   "Supported video-frame format options (-L)"

config NULL_VIDEO_FORMAT_MJPEG
	bool "MJPEG Video Format"

config NULL_VIDEO_FORMAT_YUY2
	bool "YUY2 Video Format"

endchoice

choice
	prompt   "Supported frame resolutions (-U)"

config NULL_QVGA
	bool "(0)QVGA (320x240)"

config NULL_VGA
	bool "(1)VGA (640x480)"

config NULL_QUADVGA
	bool "(2)QUADVGA (1280x960)"

config NULL_HD
	bool "(3)HD (1280x720)"

comment "Higher frame resolutions may not be supported"
comment "due to device memory restrictions"

config NULL_FHD
	bool "(4)FHD (1920x1080)"

config NULL_5M
	bool "(5)5M (2560x1920)"

config NULL_3M
	bool "(6)3M (2048x1536)"

endchoice

choice
	prompt   "Supported frame rates (-K)"

config NULL_FR_30
	bool "(0)1/30"

config NULL_FR_20
	bool "(1)1/20"

config NULL_FR_15
	bool "(2)1/15"

config NULL_FR_10
	bool "(3)1/10"

endchoice

config NULL_NUM_FRAMES
	int "No. of frames to be rendered"
	default 10

comment "The options displayed are only to provide help to the user"
comment "Actual option selection is to be done at runtime only using the commands and option numbers"
comment "For eg. - camera -L 0 -U 1 -K 2 -n 2"

endif
