#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if DRIVERS_WIRELESS && SELECT_SCSC_WLAN

source drivers/wireless/scsc/Kconfig

endif # DRIVERS_WIRELESS
if DRIVERS_WIRELESS && SELECT_RTK_WLAN

source drivers/wireless/realtek/Kconfig

endif # DRIVERS_WIRELESS

