#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config MEDIA
	bool "Media Support"
	default n
	depends on AUDIO
	select HAVE_CXX
	select HAVE_CXXINITIALIZE
	---help---
		Enables overall support for Media library.

if MEDIA

config MEDIA_PLAYER
	bool "Support Media player"
	default n
	---help---
		Enable media player functions

if MEDIA_PLAYER

config MEDIA_PLAYER_STACKSIZE
	int "Media Player thread stack size"
	default 4096
	---help---

config MEDIA_PLAYER_OBSERVER_STACKSIZE
	int "Media Player Observer thread stack size"
	default 2048
	---help---

config INPUT_DATASOURCE_STACKSIZE
	int "InputDataSource thread stack size"
	default 4096
	---help---

config HTTPSOURCE_DOWNLOAD_BUFFER_SIZE
	int "Http DataSource download buffer size"
	default 4096
	---help---

config HTTPSOURCE_DOWNLOAD_BUFFER_THRESHOLD
	int "Http DataSource download buffer threshold"
	default 2048
	---help---

config HTTPSOURCE_DOWNLOAD_STACKSIZE
	int "Http DataSource download thread stack size"
	default 8192
	---help---

config DATASOURCE_PREPARSE_BUFFER_SIZE
	int "DataSource preparsing buffer size"
	default 4096
	---help---

menuconfig CONTAINER_FORMAT
	bool "Digital Container Formats Support"
	default y
	---help---
		Enable multimedia container formats

if CONTAINER_FORMAT

comment "Containers for multi-media"

config CONTAINER_MPEG2TS
	bool "MPEG-2 transport stream"
	default y
	---help---

config CONTAINER_MP4
	bool "MPEG-4 multimedia portfolio"
	default n
	---help---
		Not Supported Now

config CONTAINER_OGG
	bool "Xiph.org audio formats Vorbis and Opus"
	default n
	---help---
		Not Supported Now

comment "Containers exclusive to audio"

config CONTAINER_WAV
	bool "WAV/RIFF file format"
	default n
	---help---
		Not Supported Now

config DEMUX_BUFFER_SIZE
	int "Demuxing buffer size"
	default 4096
	---help---
		Buffer to cache stream data for demuxing

endif #CONTAINER_FORMAT

endif #MEDIA_PLAYER

config MEDIA_RECORDER
	bool "Support Media recorder"
	default n
	---help---
		Enable media recoreder functions

if MEDIA_RECORDER

config MEDIA_RECORDER_STACKSIZE
	int "Media Recorder thread stack size"
	default 12288
	---help---

config MEDIA_RECORDER_OBSERVER_STACKSIZE
	int "Media Recorder Observer thread stack size"
	default 2048
	---help---

config OUTPUT_DATASOURCE_STACKSIZE
	int "OutputDataSource thread stack size"
	default 4096
	---help---

endif #MEDIA_RECORDER

config MEDIA_VOICE_SPEECH_DETECTOR
	bool "Support Media/Voice Speech Detector"
	default n
	select VOICE_SOFTWARE_EPD
	---help---
		Enable Media/Voice Speech Detector functions

config AUDIO_RESAMPLER_BUFSIZE
	int "Audio Resampler Buffer size"
	default 4096
	depends on AUDIO
	---help---
		Buffer size for resampler

config FILE_DATASOURCE_STREAM_BUFFER_SIZE
	int "File DataSource stream buffer size"
	default 4096
	---help---

config FILE_DATASOURCE_STREAM_BUFFER_THRESHOLD
	int "File DataSource stream buffer threshold"
	default 2048

config BUFFER_DATASOURCE_STREAM_BUFFER_SIZE
	int "Buffer DataSource stream buffer size"
	default 4096
	---help---

config BUFFER_DATASOURCE_STREAM_BUFFER_THRESHOLD
	int "Buffer DataSource stream buffer threshold"
	default 1

endif #MEDIA

config AUDIO_CODEC
	bool "Software Audio Codec Support"
	default n
	depends on AUDIO
	---help---
		Enable software audio codec functions

config AUDIO_CODEC_RINGBUFFER_SIZE
	int "Audio Decoder Ringbuffer Size"
	default 16384
	depends on AUDIO_CODEC
	---help---
		Ring buffer size that used for decoding MP3/AAC
