#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config SECURITY_LINK
    bool "Enable Security Link"
    default n
    ---help---
        Intercommunicate between Security features in User space and HAL which is in kernel space

if SECURITY_LINK
	config SECURITY_LINK_DEBUG
	bool "Enable Security Link Debug"
	default n
	---help---
		Enable debug msg for security link framework
endif
