#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config MEM_LEAK_CHECKER_APP
	bool "Memory Leak Checker V2 (Mark-and-Sweep)"
	default n
	depends on MEM_LEAK_CHECKER
	---help---
		Enable the TASH command for the Memory Leak Checker.
		This registers the 'mem_leak' command which uses mark-and-sweep
		from true roots to detect reference cycles and unreachable memory.
