#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#
if NET_UDP

config NET_NETBUF_RECVINFO
	bool "Append Destination Infomation"
	default n
	---help---
		append destination addr and port to every netbuf.

config NET_UDP_TTL
	int "UDP TTL"
	default 255
	---help---
		Default Time-To-Live value.

config NET_UDPLITE
	bool "Enable UDP-Lite"
	default y
	---help---
		Turn on UDP-Lite. (Requires LWIP_UDP)

endif
