#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_MPU_TEST
	bool "MPU TestCase Example"
	depends on BUILD_PROTECTED
	select DRIVERS_KERNEL_TEST
	---help---
		Enable the MPU TestCase Example

config USER_ENTRYPOINT
	string
	default "mpu_tc_main" if ENTRY_MPU_TEST
