#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SMARTFS_BUF_OPTIMIZATION
	bool "jSmartFs Buffer Optimization Example"
	default n
	depends on TIMER
	---help---
		Enable the jSmartFs Buffer Optimization Example
