#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#
if NET_IPv4
config NET_IP_DEFAULT_TTL
	int "Default value for Time-To-Live"
	default 255
	---help---
		Default value for Time-To-Live used by transport layers.

config NET_IP_FORWARD
	bool "Support IP packet forwarding"
	default n
	---help---
		Enables the ability to forward IP packets across network
		interfaces. If you are going to run lwIP on a device with only one network
		interface, define this to 0.

config NET_IP_OPTIONS_ALLOWED
	bool "Support IP options"
	default y
	---help---
		If disabled, all packets with IP options are dropped.
		If enabled, IP options are allowed (but not parsed).
		
config NET_IP_FRAG
	bool "IP fragment support"
	default y
	---help---
		Fragment outgoing IP packets if their size exceeds MTU. Note
		that this option does not affect incoming packet sizes, which can be
		controlled via IP_REASSEMBLY.



config NET_IP_REASSEMBLY
	bool "IP reassembly support"
	default y
	---help---
		Reassemble incoming fragmented IP packets. Note that this option
		does not affect outgoing packet sizes, which can be controlled via IP_FRAG.


if NET_IP_REASSEMBLY

config NET_IPV4_REASS_MAX_PBUFS
	int "Total maximum amount of pbufs"
	default 20
	---help---
		Total maximum amount of pbufs waiting to be reassembled.
		Since the received pbufs are enqueued, be sure to configure
		PBUF_POOL_SIZE > IP_REASS_MAX_PBUFS so that the stack is still able to
		receive packets even if the maximum amount of fragments is enqueued for reassembly!

config NET_IPV4_REASS_MAXAGE
	int "Maximum time for fragments"
	default 3
	---help---
		Maximum time (in multiples of IP_TMR_INTERVAL - so seconds, normally)
		a fragmented IP packet waits for all fragments to arrive. If not all fragments
		arrived in this time, the whole packet is discarded.

endif #NET_IP_REASSEMBLY

endif #NET_IPv4
