#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_SENSOR_TEST
	bool "\"Sensor Test\" example"
	default n
	depends on SENSOR
	---help---
		Enable the \"Sensor Test\" example


if EXAMPLES_SENSOR_TEST
config EXAMPLES_SENSOR_TEST_PPD42NS
	bool "PPD42NS Dust Sensor Example"
	default n
	---help---
		Enable PPD42NS Dust Sensor Example Application

config EXAMPLES_SENSOR_TEST_PPD42NS_MQTT_TRANSMISSION
	bool "Support MQTT transmission for sending sensor data"
	default n
	depends on EXAMPLES_SENSOR_TEST_PPD42NS
	depends on EXAMPLES_MQTT_TEST
	---help---
		Enable to dust send sensor data using MQTT transmission

endif # EXAMPLES_SENSOR_TEST

config USER_ENTRYPOINT
	string
	default "ppd42ns_test_main" if ENTRY_SENSOR_TEST
