#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_HEAVY_SIGNAL_MESSAGE_TEST
	bool "Heavy Signal Message Test Sample"
	default n
	depends on !DISABLE_MQUEUE && !DISABLE_SIGNALS && !DISABLE_PTHREAD
	---help---
		Aging test in case of heavy signal/message scenarios. Check whether 
		signal and message work normally while many context switches occur.

config USER_ENTRYPOINT
	string
	default "heavy_signal_message_test_main" if ENTRY_HEAVY_SIGNAL_MESSAGE_TEST
