#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_IOTIVITY
	bool "Enable building IoTivity Samples"
	default n
	depends on ENABLE_IOTIVITY
	---help---
		Enable building IoTivity Samples

