#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_CONNECT_TEST
	bool "Connect Test"
	default n
	depends on WIFI_MANAGER
	depends on NET_LWIP_DHCP
	depends on NET_SECURITY_TLS
	---help---
		 Connect Test program

config USER_ENTRYPOINT
	string
	default "connect_test_main" if ENTRY_CONNECT_TEST
