#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_FS_PERFORMANCE
	bool "\"Filesystem Performance Test\" example"
	default n
	depends on TIMER
	---help---
		Enable the \"Filesystem Performance Test\" example

config USER_ENTRYPOINT
	string
	default "fs_performance_main" if ENTRY_FS_PERFORMANCE
