#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_UPDATE_TEST
	bool "\"Update Test!\" example"
	default n
	---help---
		Enable the \"Update, Test!\" example

config USER_ENTRYPOINT
	string
	default "update_test_main" if ENTRY_UPDATE_TEST
