#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config NETUTILS_WEBCLIENT
	bool "Webclient"
	default n
	depends on NET
	---help---
		Enables the webclient.
		This webclient supports to send request by sync/async mode.
		Sync mode is excuted on same task with caller.
		Async mode is excuted on new task.

if NETUTILS_WEBCLIENT
	config WGET_USERAGENT
	string "User Agent"
	default "TinyARA"
	---help---
		Sets user agent. It apply to request message.

	config NETUTILS_WEBCLIENT_RX_TIMEOUT
	int "Webclient RX socket timeout (seconds)"
	default 5

endif
