#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config NETUTILS_WEBCLIENT
	bool "Webclient"
	default n
	---help---
		Enable support for the webclient.

if NETUTILS_WEBCLIENT

config WGET_USERAGENT
	string "wget User Agent"
	default "TinyARA"

endif
