#
#For a description of the syntax of this configuration file,
#see kconfig-language at https:	//www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_LED
	bool "LED example"
	default n
	---help---
		Enable LED Example

config USER_ENTRYPOINT
	string
	default "led_test" if ENTRY_LED
