#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_STDK_SMART_SWITCH
	bool "STDK smart_switch example"
	default n
	depends on STDK_IOT_CORE
	---help---
		Enable the smart switch example of STDK
