#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_VIRTKEY
	bool "Virtual key example"
	default n
	---help---
		Enable virtual key example

config USER_ENTRYPOINT
	string
	default "virtkey_main" if ENTRY_VIRTKEY
