#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config USBHOST_UVC
	bool "USB Video Class Driver"
	default n

if USBHOST_UVC

config USBUVC_TRF_PRIO
	int "UVC Transfer Thread Priority"
	default 220
	---help---
		The asynchronous, isochronous IN transfers will be called every 125us, copying of data from
		isochronous IN buffer to user buffer would take more time. Have to be done in a separate
		thread without blocking the transfer callback. Priority of this thread decides the fps at
		which frames can be delivered to user applications.
config USBUVC_TRF_STACKSIZE
	int "UVC Transfer Thread Stack Size"
	default 2048
	---help---
		The asynchronous, isochronous IN transfers will be called every 125us, copying of data from
		isochronous IN buffer to user would take more time. Have to be done in a separate thread
		without blocking the transfer callback. Video driver transfer completion nofication is
		called from this thread, stack size should atleast 2048.
endif # USBHOST_UVC

