menu "Touch Device Support"

menuconfig TOUCH
	bool "Touch Device Support"
	default n
	---help---
		Drivers for Touch Devices. These drivers support
		interfaces as defined in include/tinyara/input/touchscreen.h

		This selection is necessary to enable support for touch drivers in
		drivers/input

if TOUCH
choice
	prompt "choose TOUCH device"
	default TOUCH_IST415
	---help---
		IST415 with I2C

config TOUCH_IST415
	bool "IST415 Support"
	---help---
		Enable the Touch device IST415
endchoice

choice
	prompt "choose TOUCH DEVICE app notification type"
	default TOUCH_POLL
	
config TOUCH_POLL
	bool "Polling Notification"
	---help---
		Enable polling based notification to application

config TOUCH_CALLBACK
	bool "Callback Notification"
	---help---
		Enable callback based notification to application
endchoice

config TOUCH_NPOLLWAITERS
	int "Number of Multipolling Wait"
	default 2
	---help---
		Number of waiting fds to read touch data

config TOUCH_BUFSIZE
	int "Touch point buffer size"
	default 30
	---help---
		The touch points are buffered. One size means one
		touched pointer.

if TOUCH_IST415

config IST415_WORKPRIORITY
	int "ist415 irq process thread priority"
	default 201
	---help---
		The execution priority of the ist415 touchscreen irq process thread.

		When an interrupt occurs from the touchscreen IC, the thread reads
		the data of the IC through I2C to process the event.
		For example, it distinguishes whether it is touch data or not and
		generates a touch point event. If it is not touch data, it performs
		related tasks and waits next event.

endif # TOUCH_IST415
endif # TOUCH

endmenu # Touch Device Support
