#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#
config EXAMPLES_SECLINK_TEST
	bool "Security SECLINK Test"
	depends on SE
	select STRESS_TOOL
	default n

config USER_ENTRYPOINT
	string
	default "sl_test_main" if ENTRY_SECLINK_TEST
