#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_NETTEST
	bool "TCP/UDP/IP multicast test app."
	default n
	depends on NET_LWIP
	---help---
		IPV4/IPV6 compatible TCP/UDP/IP multicast test application

config USER_ENTRYPOINT
	string
	default "nettest_main" if ENTRY_NETTEST
