#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_NETTEST
	bool "Sample App for testing network related functionalities like TCP/UDP/IGMP?ICMP etc."
	default n
	---help---
		Enable the network test API's

config USER_ENTRYPOINT
	string
	default "nettest_main" if ENTRY_NETTEST
