#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_LIBCOAP_TEST
	bool "\"libcoap Test\" example"
	default n
	depends on NETUTILS_LIBCOAP
	---help---
		Enable the \"libcoap Test\" example
