#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menu "SoundPlayer App"
source "/root/tizenrt/apps/examples/SoundPlayer/controller/Kconfig"
source "/root/tizenrt/apps/examples/SoundPlayer/player/Kconfig"
endmenu
