#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#
config NET_NETMGR
	bool "Network manager"
	select LWNL80211
	default n
	---help---
		network refactoring

if NET_NETMGR
config NET_NETMGR_ZEROCOPY
	bool "Enable zero-copy in Network Manager"
	default n
	---help---
		Enable zero copy to have Wi-Fi driver handle pbuf directly and vice versa
		this option should be handled carefully

config NET_TASK_BIND
	bool "Bind to the task"
	depends on NSOCKET_DESCRIPTORS > 0
	default n
	---help---
		Enable bind sockets to task
endif

menu "Network Device Operations"

config NETDEV_PHY_IOCTL
	bool "Enable PHY ioctl()"
	default n
	---help---
		Enable support for ioctl() commands to access PHY registers"	
		

endmenu # Network Device Operations
