#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TLS_SERVER
	bool "TLS server application"
	default n
	depends on NET_SECURITY_TLS

if EXAMPLES_TLS_SERVER

config EXAMPLES_TLS_SERVER_PROGNAME
	string "Program name"
	default "tls_server"
	depends on BUILD_KERNEL

endif # EXAMPLE_TLS_SERVER

config USER_ENTRYPOINT
	string
	default "tls_server_main" if ENTRY_TLS_SERVER
