#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_WIFI_TEST
	bool "WIFI APIs example"
	default n
	---help---
		Enable the WIFI APIs example. This application features a set
		of DM API calls to start WiFi, connect to an Access Point,
		perform DHCP, as well as channel scanning.

config USER_ENTRYPOINT
	string
	default "wifi_test_main" if ENTRY_WIFI_TEST
