#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

menuconfig EXAMPLES_TESTCASE_DRIVERS
	bool "Drivers TestCase Example"
	default n
	select KERNEL_TEST_DRV
	---help---
		Enable the Drivers TestCase Example

if EXAMPLES_TESTCASE_DRIVERS
config TC_DRV_ALL
	bool "All"
	default n
	select TC_DRIVERS_NULL if DEV_NULL
	select TC_DRIVERS_ZERO if DEV_ZERO
	select TC_DRIVERS_RTC if RTC_DRIVER
	select TC_DRIVERS_PWM if PWM
	select TC_DRIVERS_WATCHDOG if WATCHDOG
	select TC_DRIVERS_LOOP
	select TC_DRIVERS_ADC if ADC
	select TC_DRIVERS_BCH if BCH
	select TC_DRIVERS_I2C if I2C_TRANSFER

config TC_DRIVERS_NULL
	bool "Dev Null"
	default n
	depends on DEV_NULL

config TC_DRIVERS_ZERO
	bool "Dev Zero"
	default n
	depends on DEV_ZERO

config TC_DRIVERS_RTC
	bool "Dev Rtc"
	default n
	depends on RTC_DRIVER

config TC_DRIVERS_PWM
	bool "Dev PWM"
	default n
	depends on PWM

config TC_DRIVERS_WATCHDOG
	bool "Dev Watchdog"
	default n
	depends on WATCHDOG

config TC_DRIVERS_LOOP
	bool "Dev Loop"
	default n

config TC_DRIVERS_ADC
	bool "Dev ADC"
	default n
	depends on ADC

config TC_DRIVERS_BCH
        bool "Dev BCH"
        default n
        depends on BCH

config TC_DRIVERS_I2C
        bool "Dev I2C"
        default n
        depends on I2C_TRANSFER

endif #EXAMPLES_TESTCASE_DRIVERS

