#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_TESTCASE_TASK_MANAGER_UTC
	bool "Task Manager UTC TestCase Example"
	default n
	depends on TASK_MANAGER
	---help---
		Enable the Task Manager TestCase
