#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_NETSTRESSTEST
	bool "Sample App for testing network related functionalities like TCP/UDP/IGMP/ICMP (all at one time) etc."
	default n
	---help---
		Enable the network test API's and spawn each in a separate thread with single command
