#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_MEM_PROTECT_TEST
	bool "MEM_PROTECT TestCase Example"
	depends on BUILD_PROTECTED
	select DRIVERS_OS_API_TEST
	---help---
		Enable the Memory protection TestCase Example

config USER_ENTRYPOINT
	string
	default "mem_protect_tc_main" if ENTRY_MEM_PROTECT_TEST
